<div class="themevale_section" id="themevale_customBanner">
    <div class="themevale_page-heading-wrapper custom">
        <h2 class="page-heading sub-title" style="font-size:18px !important;">How to Videos</h2>
        <!--<p class="description">Donec placerat de dictum ornare cosmopolis. Phasellus danos interdum an dipsum de malesuada blandit delementum justo massa lorem mollis delous.</p>-->
    </div>
    <div class="themevale_Banner">
        <img class="themevale_Banner-img lazyload" src="{{cdn 'img/loading.svg'}}" data-src="/product_images/uploaded_images/video-bg.jpg" alt="" style="height: auto;width: 100%;">
        <div class="container">
            <div class="customBanner-wrap">
                <!--<h3 class="title">Cosmo de Milancelos</h3>-->
                <p class="description">Learn essential woodworking techniques and increase your knowledge with our how to videos by Peter Sefton, an award winning Master Craftsman and Commercial Designer Maker with 35 years' experience in bespoke furniture making.</p>
                <a href="/blog/tag/videos" target="blank" class="button button--primary">View All</a>
                <!--<div class="button-group">-->
                <!--    <a class="button button--transparent button--videos" href="#" data-reveal-id="popup-video">Watch Video</a>-->
                <!--    <a class="button button--white" href="#">View Products</a>-->
                <!--</div>-->
            </div>
        </div>
    </div>
    <div class="themevale_video_carousel">
        <div class="container">
            <div id="video_carousel" class="video_carousel" data-slick='{
                "dots": false,
                "arrows": false,
                "autoplay": false,
                "infinite": false,
                "slidesToShow": 3, 
                "slidesToScroll": 3, 
                "adaptiveHeight": true
                }'>
                <div class="items">
                    <div class="video-wrapper">
                        <div class="video-image">
                            <img class="lazyload" style="height:249px; width:100%;" src="{{cdn 'img/loading.svg'}}" data-src="/product_images/uploaded_images/video01-01.jpg" alt="">
                            <!--<img class="lazyload" src="{{cdn 'img/loading.svg'}}" data-src="/product_images/uploaded_images/video-01.jpg" alt="">-->
                            <img class="lazyload icon-video" src="{{cdn 'img/loading.svg'}}" data-src="../product_images/uploaded_images/video-list-icon.png" alt="">
                        </div>
                        <div class="video-content">
                            <div class="title">How To Balance Bandsaw Wheels On The Machine</div>
                            <div class="description">A bandsaw is a big investment but it is a truly versatile machine</div>
                            <!--<div class="description">Woodpeckers new Mini-Coping Sled is designed to take the stress and strain out of making challenging end-grain cuts on your router table</div>-->
                        </div>
                       <a href="/blog/how-to-balance-bandsaw-wheels-on-the-machine/" class="link-video" target="_blank" rel="noopener"></a>
                    </div>
                </div>
                <div class="items">
                    <div class="video-wrapper">
                        <div class="video-image">
                            
                            <img class="lazyload" style="height:249px; width:100%;" src="{{cdn 'img/loading.svg'}}" data-src="/product_images/uploaded_images/video02-01.jpg" alt="">
                            <!--<img class="lazyload" src="{{cdn 'img/loading.svg'}}" data-src="/product_images/uploaded_images/video-02.jpg" alt="">-->
                            <img class="lazyload icon-video" src="{{cdn 'img/loading.svg'}}" data-src="../product_images/uploaded_images/video-list-icon.png" alt="">
                        </div>
                        <div class="video-content">
                            <div class="title">How To Hand Plane A Face Edge On Timber</div>
                            <div class="description">Peter Sefton shows you how to hand plane a face edge on timber</div>
                            <!--<div class="description">Saw Safety Keeping your hands safe and away from the Mitre Saw blade is so important</div>-->
                        </div>
                        <a href="/blog/how-to-hand-plane-a-face-edge-on-timber/" class="link-video" target="_blank" rel="noopener"></a>
                    </div>
                </div>
                <div class="items">
                    <div class="video-wrapper">
                        <div class="video-image">
                             <img class="lazyload" style="height:249px; width:100%;" src="{{cdn 'img/loading.svg'}}" data-src="/product_images/uploaded_images/video03-01.jpg" alt="">
                            <!--<img class="lazyload" src="{{cdn 'img/loading.svg'}}" data-src="/product_images/uploaded_images/video-03.jpg" alt="">-->
                            <img class="lazyload icon-video" src="{{cdn 'img/loading.svg'}}" data-src="../product_images/uploaded_images/video-list-icon.png" alt="">
                        </div>
                        <div class="video-content">
                            <div class="title">How To Plan Your Workshop Layout</div>
                            <div class="description">How To Plan Your Workshop Layout</div>
                            <!--<div class="description">The PantoRouter is a precision copy milling machine able to cut a wide variety of wooden joints.</div>-->
                        </div>
                        <a href="/blog/how-to-plan-your-workshop-layout/" class="link-video" target="_blank" rel="noopener"></a>
                    </div>
                </div>
            </div>
            <!--<div class="custom-html-category">-->
            <!--    <p class="custom-html">-->
            <!--    Custom CMS Block - Phasellus volutpat magna id mauris sodales et ornare urna molestie. Mauris non sem tincidunt, hendrerit nisi quis honcus felis. Suspendisse tempus mi durna in mattis nisl egestas quis. Proin nisi justo consectetur sed lacus an bibendum commodo diam. Praesent vulputate arcu eros quis accumsan odio malesuada at. Nulla vel ante magna. Cras ultricies nulla porttitor metus cursus malesuada. Sed convallis tempor ante ac semperos. Duis an turpis de nisl ultricies rhoncus. Morbi aliquet sem non orci lacinia posuere nam eget efficitur nibh. Aenean nec ornare ipsum. Aliquam vel semper augue.-->
            <!--    <br><br>-->
            <!--    Phasellus pharetra lacus eu magna gravida, vel pharetra velit interdum. Duis lobortis faucibus quam, non dignissim odio rhoncus quis. Quisque et nulla molestie, dapibus neque in, bibendum enim. Fusce sollicitudin varius leo, vel condimentum justo volutpat quis. In posuere cursus leo sed molestie. Nam id varius orci. Etiam lorem lacus, eleifend ut elit faucibus, tristique accumsan nibh. Vestibulum a condimentum nisl. Praesent risus est, maximus vitae purus ac, sollicitudin luctus neque. Integer mattis mauris quis urna hendrerit, in eleifend mauris pretium. Phasellus sit amet pharetra tortor. Donec finibus euismod pretium. Vivamus quis tempus enim, id pretium leo. Etiam mollis ex id lectus pretium consequat. Vivamus imperdiet at sapien sit amet iaculis. Vestibulum et felis libero.-->
            <!--    <br><br>-->
            <!--    Praesent vitae venenatis nisl, non egestas urna. Proin dignissim nunc vel quam dapibus, non varius velit interdum. Vestibulum ante ipsum primis in faucibus orci luctus et ultrices posuere cubilia Curae; In sagittis ex eu tellus congue porttitor. Cras non interdum sapien. Maecenas mollis sed diam vitae accumsan. Praesent congue turpis in urna venenatis fringilla. Orci varius natoque penatibus et magnis dis parturient montes, nascetur ridiculus mus.-->
            <!--    </p>-->
            <!--    <div class="button-group text-center">-->
            <!--        <a id="button-showmore-html" class="button button--transparent" href="#"> -->
            <!--            <span class="text"> Read more </span>-->
            <!--            <svg class="icon"><use xlink:href="#icon-keyboard-arrow-down"></use></svg>-->
            <!--        </a>-->
            <!--    </div>-->
            <!--</div>-->
            {{{region name="below_banner_with_video"}}}
        </div>
    </div>
    <div id="popup-video" class="modal themevale_popup-video" data-reveal></div>
</div>
