<div class="themevale_sectionChild padding-top-30">
    <div class="themevale_page-heading-wrapper layout-2">
        <h2 class="page-heading">More Departments</h2>
        <a class="themevale_link custom" href="/brands/">View More</a>
    </div>
    <div id="themevale_category-card-6">
        <div class="themevale_column themevale_column--custom">
            <div class="item">
                <div class="item-child">
                    <div class="category-card">
                        <div class="category-figure">
                            <a class="category-img-container" href="#">
                                <img class="lazyload" src="https://caros-demo.mybigcommerce.com/content/loading.svg" data-src="https://cdn11.bigcommerce.com/s-vfv3gnutke/product_images/uploaded_images/banner-marketing-1.jpg" alt="" />
                            </a>
                        </div>
                        <div class="category-body">
                            <a class="title" href="#">Powersports</a>
                            <p class="description">Dinterdum pretium, Mauris, Condimentus</p>
                        </div>
                        <div class="category-button">
                            <a class="button button--primary" href="#">shop now</a>
                        </div>
                    </div>
                </div>
                <div class="item-child">
                    <div class="category-card">
                        <div class="category-figure">
                            <a class="category-img-container" href="#">
                                <img class="lazyload" src="https://caros-demo.mybigcommerce.com/content/loading.svg" data-src="https://cdn11.bigcommerce.com/s-vfv3gnutke/product_images/uploaded_images/banner-marketing-2.jpg" alt="" />
                            </a>
                        </div>
                        <div class="category-body">
                            <a class="title" href="#">Motocycle</a>
                            <p class="description">Dinterdum pretium, Mauris, Condimentus</p>
                        </div>
                        <div class="category-button">
                            <a class="button button--primary" href="#">shop now</a>
                        </div>
                    </div>
                </div>
                <div class="item-child item-child-full">
                    <div class="category-card">
                        <div class="category-figure">
                            <a class="category-img-container" href="#">
                                <img class="lazyload" src="https://caros-demo.mybigcommerce.com/content/loading.svg" data-src="https://cdn11.bigcommerce.com/s-vfv3gnutke/product_images/uploaded_images/banner-marketing-4.jpg" alt="" />
                            </a>
                        </div>
                        <div class="category-body">
                            <a class="title" href="#">Suv/Truck</a>
                            <p class="description">Dinterdum pretium, Mauris, Condimentus</p>
                        </div>
                        <div class="category-button">
                            <a class="button button--primary" href="#">shop now</a>
                        </div>
                    </div>
                </div>
            </div>
            <div class="item">
                <div class="item-child item-child-full">
                    <div class="category-card">
                        <div class="category-figure">
                            <a class="category-img-container" href="#">
                                <img class="lazyload" src="https://caros-demo.mybigcommerce.com/content/loading.svg" data-src="https://cdn11.bigcommerce.com/s-vfv3gnutke/product_images/uploaded_images/banner-marketing-8.jpg" alt="" />
                            </a>
                        </div>
                        <div class="category-body">
                            <a class="title" href="#">Jeep Shop</a>
                            <p class="description">Dinterdum pretium, Mauris, Condimentus</p>
                        </div>
                        <div class="category-button">
                            <a class="button button--primary" href="#">shop now</a>
                        </div>
                    </div>
                </div>
                <div class="item-child">
                    <div class="category-card">
                        <div class="category-figure">
                            <a class="category-img-container" href="#">
                                <img class="lazyload" src="https://caros-demo.mybigcommerce.com/content/loading.svg" data-src="https://cdn11.bigcommerce.com/s-vfv3gnutke/product_images/uploaded_images/banner-marketing-9.jpg" alt="" />
                            </a>
                        </div>
                        <div class="category-body">
                            <a class="title" href="#">Custom Wheels</a>
                            <p class="description">Dinterdum pretium, Mauris, Condimentus</p>
                        </div>
                        <div class="category-button">
                            <a class="button button--primary" href="#">shop now</a>
                        </div>
                    </div>
                </div>
                <div class="item-child">
                    <div class="category-card">
                        <div class="category-figure">
                            <a class="category-img-container" href="#">
                                <img class="lazyload" src="https://caros-demo.mybigcommerce.com/content/loading.svg" data-src="https://cdn11.bigcommerce.com/s-vfv3gnutke/product_images/uploaded_images/banner-marketing-10.jpg" alt="" />
                            </a>
                        </div>
                        <div class="category-body">
                            <a class="title" href="#">#Liberty Walk</a>
                            <p class="description">Dinterdum pretium, Mauris, Condimentus</p>
                        </div>
                        <div class="category-button">
                            <a class="button button--primary" href="#">shop now</a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
