<div class="themevale_sectionChild padding-top-40">
    <h2 class="page-heading text-left">Don't Miss...</h2>
	<div id="themevale_category-card-6">
        <div class="themevale_column themevale_column--col2">
            <div class="item">
                <div class="category-card title-sec">
                    <div class="category-figure">
                        <a class="category-img-container" href="#">
                    <img class="lazyload" src="https://caros-demo.mybigcommerce.com/content/loading.svg" data-src="/product_images/uploaded_images/mk-2.jpg" alt="" />
                        </a>
                    </div>
                    <div class="category-body main-sec" >
                        <a class="title" href="https://www.ebay.co.uk/usr/woodworkersworkshopoutlet">eBay Outlet Store </a>
                        <a class="title" href="https://www.ebay.co.uk/usr/woodworkersworkshopoutlet" style="display:block;"> up to 50% OFF </a>
                        <a class="description" style="color: #fff;" href="https://www.ebay.co.uk/usr/woodworkersworkshopoutlet">Refurbished, seconds and more</a>
                    </div>
                    <div class="category-button">
                        <a class="button button--primary" href="https://www.ebay.co.uk/usr/woodworkersworkshopoutlet">Shop Now</a>
                    </div>
                </div>
            </div>
            <div class="item">
                <div class="category-card title-sec">
                    <div class="category-figure">
                        <a class="category-img-container" href="#">
                            <img class="lazyload" src="https://caros-demo.mybigcommerce.com/content/loading.svg" data-src="/product_images/uploaded_images/mk-1.jpg" alt="" />
                        </a>
                    </div>
                    <div class="category-body main-sec">
                        <a class="title" href="/blog/tag/courses" style="display:block;">Furniture School</a>
                        <a class="description" style="color: #fff;" href="/blog/tag/courses">Join Peter Sefton at the foot of the Malvern Hills for an extensive range of furniture making and wood working courses Explore our courses</a>
                    </div>
                    <div class="category-button">
                        <a class="button button--primary" href="/blog/tag/courses">Shop Now</a>
                    </div>
                </div>
            </div>
        </div>
	</div>
</div>
