<div class="themevale_sectionChild padding-top-40">
	<div id="themevale_category-card-6">
        <div class="themevale_column themevale_column--col3">
            <div class="item">
                <div class="category-card">
                    <div class="category-figure">
                        <a class="category-img-container" href="/routing/">
                            <img src="../product_images/uploaded_images/block-1.jpg" alt="">
                        </a>
                    </div>
                    <div class="category-body">
                        <a class="title" href="/routing/" style="color:#FFFFFF !important;">Routing</a>
                        <p class="description" style="color:#FFFFFF !important;">A wide range of routing products from top brands including JessEm, INCRA, AUKTools and Woodpeckers</p>
                    </div>
                    <div class="category-button">
                        <a class="button button--primary" href="/routing/">Shop Now</a>
                    </div>
                </div>
            </div>
            
            <div class="item">
                <div class="category-card">
                    <div class="category-figure">
                        <a class="category-img-container" href="/hand-tools/">
                             <img src="https://cdn11.bigcommerce.com/s-nv2zhlgt3y/images/stencil/original/image-manager/handtoolsnew.jpg" alt="">
                        </a>
                    </div>
                    <div class="category-body">
                        <a class="title" href="/hand-tools/">Hand Tools</a>
                        <p class="description" style="color:#FFFFFF !important;">Our hand-picked range of chisels, planes, saws, rules, squares, measuring equipment and accessories offer excellent value</p>
                    </div>
                    <div class="category-button">
                        <a class="button button--primary" href="/hand-tools/">Shop Now</a>
                    </div>
                </div>
            </div>
            <div class="item">
                <div class="category-card">
                    <div class="category-figure">
                        <a class="category-img-container" href="/workshop-equipment/">
                             <img src="../product_images/uploaded_images/block-5.jpg" alt="">
                        </a>
                    </div>
                    <div class="category-body">
                        <a class="title" href="/workshop-equipment/">Workshop Equipment</a>
                        <p class="description" style="color:#FFFFFF !important;">All the essential products and equipment you need to make your workshop more productive</p>
                    </div>
                    <div class="category-button">
                        <a class="button button--primary" href="/workshop-equipment/">Shop Now</a>
                    </div>
                </div>
               <!-- <div class="item" style="padding-top: 10px !important;">
                <div class="category-card">
                    <div class="category-figure">
                        <a class="category-img-container" href="#">
                            <img class="lazyload" src="https://caros-demo.mybigcommerce.com/content/loading.svg" data-src="/product_images/uploaded_images/mk-08.jpg" alt="" style="height:200px;" />
                        </a>
                    </div>
                    <div class="category-body">
                        <a class="title" href="#">Improve your Accuracy</a>
                        <p class="description">With our latest measuring and marking products</p>
                    </div>
                    <div class="category-button">
                        <a class="button button--primary" href="#">Shop Now</a>
                    </div>
                </div>
            </div>-->
            </div>
            <div class="item">
                <div class="category-card">
                    <div class="category-figure">
                        <a class="category-img-container" href="/delivery/">
                             <img src="https://cdn11.bigcommerce.com/s-nv2zhlgt3y/images/stencil/original/image-manager/same-day-dispatch.jpg" alt="">
                        </a>
                    </div>
                    <div class="category-body">
                        <a class="title" href="/delivery/">Same Day Dispatch</a>
                        <p class="description" style="color:#FFFFFF !important;">From our fully-stocked UK warehouse when you order before 2pm</p>
                    </div>
                    <div class="category-button">
                        <a class="button button--primary" href="/delivery/">FIND OUT MORE</a>
                    </div>
                </div>
            </div>
           
           <div class="item">
                <div class="category-card">
                    <div class="category-figure">
                        <a class="category-img-container" href="/contact-us/">
                             <img src="https://cdn11.bigcommerce.com/s-nv2zhlgt3y/images/stencil/original/image-manager/expert-advice.jpg" alt="">
                        </a>
                    </div>
                    <div class="category-body">
                        <a class="title" href="/contact-us/">Expert Advice</a>
                        <p class="description" style="color:#FFFFFF !important;">Give us or a call, drop us a line or visit our showroom</p>
                    </div>
                    <div class="category-button">
                        <a class="button button--primary" href="/contact-us/">CONTACT US</a>
                    </div>
                </div>
            </div>
             <div class="item">
                <div class="category-card">
                    <div class="category-figure">
                        <a class="category-img-container" href="/about-us/">
                             <img src=" https://cdn11.bigcommerce.com/s-nv2zhlgt3y/images/stencil/original/image-manager/meetheowners.jpg" alt="">
                        </a>
                    </div>
                    <div class="category-body">
                        <a class="title" href="/about-us/">Meet the Owner</a>
                        <p class="description" style="color:#FFFFFF !important;">Peter Sefton, master craftsman and furniture maker</p>
                    </div>
                    <div class="category-button">
                        <a class="button button--primary" href="/about-us/">FIND OUT MORE</a>
                    </div>
                </div>
            </div>
            <!--div class="item item-2-col">
                <div class="category-card">
                    <div class="category-figure">
                        <a class="category-img-container" href="/delivery/">
                            <img src="https://cdn11.bigcommerce.com/s-nv2zhlgt3y/images/stencil/original/carousel/27/Shipping-B.jpg" alt="" style="width:100%;">
                        </a>
                    </div>
                    <div class="category-body">
                        <a class="title" href="/delivery/">We Ship Worldwide</a>
                        <p class="description" style="color:#FFFFFF !important;">Pay a guaranteed price at checkout including duty and tax, with no hidden costs and competitive shipping rates </p>
                    </div>
                    <div class="category-button">
                        <a class="button button--primary" href="/delivery/">Shop Now</a>
                    </div>
                </div>
            </div-->
            
            <!--div class="item">
                <div class="category-card">
                    <div class="category-figure">
                        <a class="category-img-container" href="/table-saw-systems/">
                            <img src="../product_images/uploaded_images/block-2.jpg" alt="">
                        </a>
                    </div>
                    <div class="category-body">
                        <a class="title" href="/table-saw-systems/">Table Saw Systems</a>
                        <p class="description" style="color:#FFFFFF !important;">INCRA’s versatile LS and TS joinery systems along with table tops and saw accessories bring a new level of safety and accuracy to any workshop</p>
                    </div>
                    <div class="category-button">
                        <a class="button button--primary" href="/table-saw-systems/">Shop Now</a>
                    </div>
                </div>
            </div-->
        </div>
	</div>
</div>
