<div class="themevale_sectionChild">
    <div class="themevale_page-heading-wrapper text-center">
        <h2 class="page-heading">More Departments</h2>
    </div>
    <ul class="themevale_column themevale_column--col2">
        <li class="item">
            <article class="blog-card">
                <div class="blog-card-figure">
                    <figure class="blog-card-image">
                        <img class="lazyload" data-sizes="auto" src="{{cdn 'img/loading.svg'}}" data-src="/product_images/uploaded_images/blog-4.jpg" alt="" title="">
                        <a href="#" class="link-url"></a>
                    </figure>
                </div>
                <div class="blog-card-body">
                    <h2 class="blog-card-title">
                        <a href="#">Loremous</a>
                    </h2>
                    <p class="blog-card-desciption">
                        Nullam aliquet vestibulum augue non varius. Cras nedos congue elit duis tristique vel ante nec aliquam.
                    </p>
                </div>
            </article>
        </li>
        <li class="item">
            <article class="blog-card">
                <div class="blog-card-figure">
                    <figure class="blog-card-image">
                        <img class="lazyload" data-sizes="auto" src="{{cdn 'img/loading.svg'}}" data-src="/product_images/uploaded_images/blog-5.jpg" alt="" title="">
                        <a href="#" class="link-url"></a>
                    </figure>
                </div>
                <div class="blog-card-body">
                    <h2 class="blog-card-title">
                        <a href="#">Metropolis</a>
                    </h2>
                    <p class="blog-card-desciption">
                        Nullam aliquet vestibulum augue non varius. Cras nedos congue elit duis tristique vel ante nec aliquam.
                    </p>
                </div>
            </article>
        </li>
        <li class="item">
            <article class="blog-card">
                <div class="blog-card-figure">
                    <figure class="blog-card-image">
                        <img class="lazyload" data-sizes="auto" src="{{cdn 'img/loading.svg'}}" data-src="/product_images/uploaded_images/blog-6.jpg" alt="" title="">
                        <a href="#" class="link-url"></a>
                    </figure>
                </div>
                <div class="blog-card-body">
                    <h2 class="blog-card-title">
                        <a href="#">Milancelos</a>
                    </h2>
                    <p class="blog-card-desciption">
                        Nullam aliquet vestibulum augue non varius. Cras nedos congue elit duis tristique vel ante nec aliquam.
                    </p>
                </div>
            </article>
        </li>
        <li class="item">
            <article class="blog-card">
                <div class="blog-card-figure">
                    <figure class="blog-card-image">
                        <img class="lazyload" data-sizes="auto" src="{{cdn 'img/loading.svg'}}" data-src="/product_images/uploaded_images/blog-7.jpg" alt="" title="">
                        <a href="#" class="link-url"></a>
                    </figure>
                </div>
                <div class="blog-card-body">
                    <h2 class="blog-card-title">
                        <a href="#">Cosmópolis</a>
                    </h2>
                    <p class="blog-card-desciption">
                        Nullam aliquet vestibulum augue non varius. Cras nedos congue elit duis tristique vel ante nec aliquam.
                    </p>
                </div>
            </article>
        </li>
    </ul>
</div>
