<section class="themevale_section" id="themevale_brandsImage">
    <div class="container">
        <div class="themevale_page-heading-wrapper popular-sec">
            <h1 class="page-heading text-left">Authorised Dealer</h1>
            <a href="{{urls.brands}}" class="themevale_link">View All Brands</a>
        </div>
        <div class="brandsImage-slider layout-1" data-slick='{
            "dots":false,
            "arrows": true,
            "autoplay": false,
            "slidesToShow": 2, 
            "slidesToScroll": 2, 
            "adaptiveHeight": true,
            "mobileFirst": true,
            "infinite": false,
            "nextArrow": "<svg class=&apos;slick-next slick-arrow&apos;><use xlink:href=&apos;#slick-arrow-next&apos;></use></svg>", 
            "prevArrow": "<svg class=&apos;slick-prev slick-arrow&apos;><use xlink:href=&apos;#slick-arrow-prev&apos;></use></svg>",
            "responsive": [
                {
                    "breakpoint": 1024,
                    "settings": {
                        "slidesToShow": 12,
                        "slidesToScroll": 6
                    }
                },
                {
                    "breakpoint": 768,
                    "settings": {
                        "slidesToShow": 4,
                        "slidesToScroll": 4
                    }
                },
                {
                    "breakpoint": 430,
                    "settings": {
                        "slidesToShow": 3,
                        "slidesToScroll": 3
                    }
                }
            ]}'>
            <!--<div class="brand-item">-->
            <!--    <a href="http://spark-demo.mybigcommerce.com" class="featured-brand"><img class="lazyload" data-sizes="auto" src="{{cdn 'img/loading.svg'}}" data-src="/product_images/uploaded_images/group-75.png" alt="brands-1"/></a> -->
            <!--</div>-->
            <!--<div class="brand-item">-->
            <!--    <a href="http://moda-demo.mybigcommerce.com" class="featured-brand"><img class="lazyload" data-sizes="auto" src="{{cdn 'img/loading.svg'}}" data-src="/product_images/uploaded_images/group-74.png" alt="brands-2"/></a> -->
            <!--</div>-->
            <!--<div class="brand-item">-->
            <!--    <a href="http://ella-demo.mybigcommerce.com" class="featured-brand"><img class="lazyload" data-sizes="auto" src="{{cdn 'img/loading.svg'}}" data-src="/product_images/uploaded_images/group-73.png" alt="brands-3"/></a> -->
            <!--</div>-->
            <!--<div class="brand-item">-->
            <!--    <a href="http://jewel-custom-demo.mybigcommerce.com/" class="featured-brand"><img class="lazyload" data-sizes="auto" src="{{cdn 'img/loading.svg'}}" data-src="/product_images/uploaded_images/group-72.png" alt="brands-4"/></a> -->
            <!--</div>-->
            <!--<div class="brand-item">-->
            <!--    <a href="http://jewel-demo.mybigcommerce.com" class="featured-brand"><img class="lazyload" data-sizes="auto" src="{{cdn 'img/loading.svg'}}" data-src="/product_images/uploaded_images/group-71.png" alt="brands-5"/></a> -->
            <!--</div>-->
            <!--<div class="brand-item">-->
            <!--    <a href="http://sweetsationtherapy-demo2.mybigcommerce.com/" class="featured-brand"><img class="lazyload" data-sizes="auto" src="{{cdn 'img/loading.svg'}}" data-src="/product_images/uploaded_images/group-70.png" alt="brands-6"/></a> -->
            <!--</div>-->
            <!--<div class="brand-item">-->
            <!--    <a href="http://ella-demo.mybigcommerce.com" class="featured-brand"><img class="lazyload" data-sizes="auto" src="{{cdn 'img/loading.svg'}}" data-src="/product_images/uploaded_images/group-73.png" alt="brands-3"/></a> -->
            <!--</div>-->
            <!-- <div class="brand-item">-->
            <!--    <a href="http://jewel-custom-demo.mybigcommerce.com/" class="featured-brand"><img class="lazyload" data-sizes="auto" src="{{cdn 'img/loading.svg'}}" data-src="/product_images/uploaded_images/group-72.png" alt="brands-4"/></a> -->
            <!--</div>-->
            <!--<div class="brand-item">-->
            <!--    <a href="http://spark-demo.mybigcommerce.com" class="featured-brand"><img class="lazyload" data-sizes="auto" src="{{cdn 'img/loading.svg'}}" data-src="/product_images/uploaded_images/group-75.png" alt="brands-1"/></a> -->
            <!--</div>-->
            <!--<div class="brand-item">-->
            <!--    <a href="http://moda-demo.mybigcommerce.com" class="featured-brand"><img class="lazyload" data-sizes="auto" src="{{cdn 'img/loading.svg'}}" data-src="/product_images/uploaded_images/group-74.png" alt="brands-2"/></a> -->
            <!--</div>-->
            <!--<div class="brand-item">-->
            <!--    <a href="http://sweetsationtherapy-demo2.mybigcommerce.com/" class="featured-brand"><img class="lazyload" data-sizes="auto" src="{{cdn 'img/loading.svg'}}" data-src="/product_images/uploaded_images/group-70.png" alt="brands-6"/></a> -->
            <!--</div>-->
            <!--<div class="brand-item">-->
            <!--    <a href="http://jewel-demo.mybigcommerce.com" class="featured-brand"><img class="lazyload" data-sizes="auto" src="{{cdn 'img/loading.svg'}}" data-src="/product_images/uploaded_images/group-71.png" alt="brands-5"/></a> -->
            <!--</div>-->
            
             <div class="brand-item">
                <a href="/incra/" class="featured-brand"><img class="lazyload" data-sizes="auto" src="{{cdn 'img/loading.svg'}}" data-src="https://store-nv2zhlgt3y.mybigcommerce.com/content/brands/INCRA.png" alt="brands-1"/></a> 
            </div>
            <div class="brand-item">
                <a href="/woodpeckers/" class="featured-brand"><img class="lazyload" data-sizes="auto" src="{{cdn 'img/loading.svg'}}" data-src="https://store-nv2zhlgt3y.mybigcommerce.com/content/brands/Woodpeckers.png" alt="brands-2"/></a> 
            </div>
            <div class="brand-item">
                <a href="/auk-tools/" class="featured-brand"><img class="lazyload" data-sizes="auto" src="{{cdn 'img/loading.svg'}}" data-src="https://cdn11.bigcommerce.com/s-nv2zhlgt3y/images/stencil/original/image-manager/auktoolnew.png" alt="brands-3"/></a> 
            </div>
            <div class="brand-item">
                <a href="/fastcap/" class="featured-brand"><img class="lazyload" data-sizes="auto" src="{{cdn 'img/loading.svg'}}" data-src="https://store-nv2zhlgt3y.mybigcommerce.com/content/brands/FastCap.png" alt="brands-4"/></a> 
            </div>
            <div class="brand-item">
                <a href="/jessem/" class="featured-brand"><img class="lazyload" data-sizes="auto" src="{{cdn 'img/loading.svg'}}" data-src="https://store-nv2zhlgt3y.mybigcommerce.com/content/brands/JessEm.png" alt="brands-5"/></a> 
            </div>
            <div class="brand-item">
                <a href="/igaging/" class="featured-brand"><img class="lazyload" data-sizes="auto" src="{{cdn 'img/loading.svg'}}" data-src="https://store-nv2zhlgt3y.mybigcommerce.com/content/brands/iGaging.png" alt="brands-6"/></a> 
            </div>
            <div class="brand-item">
                <a href="/musclechuck/" class="featured-brand"><img class="lazyload" data-sizes="auto" src="{{cdn 'img/loading.svg'}}" data-src="https://store-nv2zhlgt3y.mybigcommerce.com/content/brands/Musclechuck.png" alt="brands-3"/></a> 
            </div>
             <div class="brand-item">
                <a href="/bow-products/" class="featured-brand"><img class="lazyload" data-sizes="auto" src="{{cdn 'img/loading.svg'}}" data-src="https://cdn11.bigcommerce.com/s-nv2zhlgt3y/images/stencil/original/image-manager/blow01.png" alt="brands-4"/></a> 
            </div>
            <div class="brand-item">
                <a href="/milescraft/" class="featured-brand"><img class="lazyload" data-sizes="auto" src="{{cdn 'img/loading.svg'}}" data-src="https://store-nv2zhlgt3y.mybigcommerce.com/content/brands/WoodRiver.png" alt="brands-1"/></a> 
            </div>
            <div class="brand-item">
                <a href="/micro-jig/" class="featured-brand"><img class="lazyload" data-sizes="auto" src="{{cdn 'img/loading.svg'}}" data-src="https://cdn11.bigcommerce.com/s-nv2zhlgt3y/images/stencil/original/image-manager/microjigg.png" alt="brands-2"/></a> 
            </div>
            <div class="brand-item">
                <a href="/melbourne-tool-company/" class="featured-brand"><img class="lazyload" data-sizes="auto" src="{{cdn 'img/loading.svg'}}" data-src="https://cdn11.bigcommerce.com/s-nv2zhlgt3y/images/stencil/original/image-manager/melbourne.png" alt="brands-6"/></a> 
            </div>
            <!--div class="brand-item">
                <a href="pantorouter-1/" class="featured-brand"><img class="lazyload" data-sizes="auto" src="{{cdn 'img/loading.svg'}}" data-src="https://store-nv2zhlgt3y.mybigcommerce.com/content/brands/PantoRouter.png" alt="brands-5"/></a> 
            </div-->
            
             <div class="brand-item">
                <a href="/verum/?sort=bestselling" class="featured-brand"><img class="lazyload" data-sizes="auto" src="{{cdn 'img/loading.svg'}}" data-src="https://cdn11.bigcommerce.com/s-nv2zhlgt3y/images/stencil/original/image-manager/vmverum-desk.png" alt="brands-6"/></a> 
            </div>
            
        </div>
        {{{region name="below_brands_image_carousel"}}}
    </div>
</section>
