<div class="themevale_sectionChild">
    <div class="themevale_productsByCategoryId layout-2">
        <div class="themevale_page-heading-wrapper">
            <h2 class="page-heading"><a href="/brands/">Popular Brands</a></h2>
            <a class="themevale_link" href="/brands/">View all Brands</a>
        </div>
        <div class="page-content layout-2">
            <div class="brandsImage-slider layout-2">
                <div class="brand-item">
                    <a href="#" class="featured-brand"><img class="lazyload" src="https://caros-demo.mybigcommerce.com/content/loading.svg" data-src="https://cdn11.bigcommerce.com/s-zvxdfahnpg/product_images/uploaded_images/brands-1.png" alt="" /></a> 
                </div>
                <div class="brand-item">
                    <a href="#" class="featured-brand"><img class="lazyload" src="https://caros-demo.mybigcommerce.com/content/loading.svg" data-src="https://cdn11.bigcommerce.com/s-zvxdfahnpg/product_images/uploaded_images/brands-2.png" alt="" /></a> 
                </div>
                <div class="brand-item">
                    <a href="#" class="featured-brand"><img class="lazyload" src="https://caros-demo.mybigcommerce.com/content/loading.svg" data-src="https://cdn11.bigcommerce.com/s-zvxdfahnpg/product_images/uploaded_images/brands-3.png" alt="" /></a> 
                </div>
                <div class="brand-item">
                    <a href="#" class="featured-brand"><img class="lazyload" src="https://caros-demo.mybigcommerce.com/content/loading.svg" data-src="https://cdn11.bigcommerce.com/s-zvxdfahnpg/product_images/uploaded_images/brands-4.png" alt="" /></a> 
                </div>
                <div class="brand-item">
                    <a href="#" class="featured-brand"><img class="lazyload" src="https://caros-demo.mybigcommerce.com/content/loading.svg" data-src="https://cdn11.bigcommerce.com/s-zvxdfahnpg/product_images/uploaded_images/brands-5.png" alt="" /></a> 
                </div>
                <div class="brand-item">
                    <a href="#" class="featured-brand"><img class="lazyload" src="https://caros-demo.mybigcommerce.com/content/loading.svg" data-src="https://cdn11.bigcommerce.com/s-zvxdfahnpg/product_images/uploaded_images/brands-6.png" alt="" /></a> 
                </div>
                <div class="brand-item">
                    <a href="#" class="featured-brand"><img class="lazyload" src="https://caros-demo.mybigcommerce.com/content/loading.svg" data-src="https://cdn11.bigcommerce.com/s-zvxdfahnpg/product_images/uploaded_images/brands-7.png" alt="" /></a> 
                </div>
                <div class="brand-item">
                    <a href="#" class="featured-brand"><img class="lazyload" src="https://caros-demo.mybigcommerce.com/content/loading.svg" data-src="https://cdn11.bigcommerce.com/s-zvxdfahnpg/product_images/uploaded_images/brands-8.png" alt="" /></a> 
                </div>
                <div class="brand-item">
                    <a href="#" class="featured-brand"><img class="lazyload" src="https://caros-demo.mybigcommerce.com/content/loading.svg" data-src="https://cdn11.bigcommerce.com/s-zvxdfahnpg/product_images/uploaded_images/brands-9.png" alt="" /></a> 
                </div>
                <div class="brand-item">
                    <a href="#" class="featured-brand"><img class="lazyload" src="https://caros-demo.mybigcommerce.com/content/loading.svg" data-src="https://cdn11.bigcommerce.com/s-zvxdfahnpg/product_images/uploaded_images/brands-10.png" alt="" /></a> 
                </div>
                <div class="brand-item">
                    <a href="#" class="featured-brand"><img class="lazyload" src="https://caros-demo.mybigcommerce.com/content/loading.svg" data-src="https://cdn11.bigcommerce.com/s-zvxdfahnpg/product_images/uploaded_images/brands-11.png" alt="" /></a> 
                </div>
                <div class="brand-item">
                    <a href="#" class="featured-brand"><img class="lazyload" src="https://caros-demo.mybigcommerce.com/content/loading.svg" data-src="https://cdn11.bigcommerce.com/s-zvxdfahnpg/product_images/uploaded_images/brands-12.png" alt="" /></a> 
                </div>
            </div>
        </div>
    </div>
</div>
