{{#if theme_settings.category-sorting-tabs-1}}
{{> components/themevale/homepage/component/ajax-products-by-category-sorting-tabs-1 category_id=theme_settings.category-sorting-tabs-1}}
{{/if}}
{{#if theme_settings.category-sorting-tabs-2}}
{{> components/themevale/homepage/component/ajax-products-by-category-sorting-tabs-2 category_id=theme_settings.category-sorting-tabs-2}}
{{/if}}
{{#if theme_settings.category-sorting-tabs-3}}
{{> components/themevale/homepage/component/ajax-products-by-category-sorting-tabs-3 category_id=theme_settings.category-sorting-tabs-3}}
{{/if}}
{{#if theme_settings.category-sorting-tabs-4}}
{{> components/themevale/homepage/component/ajax-products-by-category-sorting-tabs-4 category_id=theme_settings.category-sorting-tabs-4}}
{{/if}}
{{#if theme_settings.category-sorting-tabs-5}}
{{> components/themevale/homepage/component/ajax-products-by-category-sorting-tabs-5 category_id=theme_settings.category-sorting-tabs-5}}
{{/if}}
{{#if theme_settings.category-sorting-tabs-6}}
{{> components/themevale/homepage/component/ajax-products-by-category-sorting-tabs-6 category_id=theme_settings.category-sorting-tabs-6}}
{{/if}}
{{#if theme_settings.category-sorting-tabs-7}}
{{> components/themevale/homepage/component/ajax-products-by-category-sorting-tabs-7 category_id=theme_settings.category-sorting-tabs-7}}
{{/if}}
{{#if theme_settings.category-sorting-tabs-8}}
{{> components/themevale/homepage/component/ajax-products-by-category-sorting-tabs-8 category_id=theme_settings.category-sorting-tabs-8}}
{{/if}}
