<div class="themevale_section padding-bottom-70" id="themevale_customer_review">
    <div class="container">
        <div class="themevale_page-heading-wrapper text-left">
            <h2 class="page-heading">Customer Reviews</h2>
        </div>
        <div class="customer-review-carousel" data-slick='{
            "dots": true,
            "arrows": false,
            "autoplay": false,
            "slidesToShow": 1, 
            "slidesToScroll": 1, 
            "adaptiveHeight": true,
            "mobileFirst": true,
            "nextArrow": "<svg class=&apos;slick-next slick-arrow&apos;><use xlink:href=&apos;#slick-arrow-next&apos;></use></svg>", 
            "prevArrow": "<svg class=&apos;slick-prev slick-arrow&apos;><use xlink:href=&apos;#slick-arrow-prev&apos;></use></svg>",
            "responsive": [
                {
                    "breakpoint": 1030,
                    "settings": {
                        "dots":true,
                        "arrows": false,
                        "slidesToShow": 2,
                        "slidesToScroll": 2
                    }
                },
                {
                    "breakpoint": 768,
                    "settings": {
                        "slidesToShow": 2,
                        "slidesToScroll": 2
                    }
                }
            ]}'>
            <div class="review-item">
                <div class="customer-review">
                    <div class="image-wrapper">
                        <div class="image">
                            <img src="https://cdn11.bigcommerce.com/s-vfv3gnutke/images/stencil/400x400/products/179/633/performance-1a__98141__08363.1561978924.jpg?c=2" alt="">
                        </div>
                        <div class="title-wrapper title-wrapper-mobile">
                            <p class="card-brand" data-test-info-type="brandName">Tomorrow®</p>
                            <h4 class="card-title">
                                <a href="/sample-hivamus-imperdiet-vellectus-eleifend-thiam/">(Sample) Tempus es lortis ados delos lorem tempus cosmo sapiendos</a>
                            </h4>
                        </div>
                    </div>
                    <div class="content">
                        <div class="title-wrapper">
                            <p class="card-brand" data-test-info-type="brandName">Tomorrow®</p>
                            <h4 class="card-title">
                                <a href="/sample-hivamus-imperdiet-vellectus-eleifend-thiam/">(Sample) Tempus es lortis ados delos lorem tempus cosmo sapiendos</a>
                            </h4>
                        </div>
                        <article class="productReview" itemscope="" itemtype="http://schema.org/Review">
                            <header class="is-sticky">
                                <h5 itemprop="name" class="productReview-title">Look Amazing</h5>
                                <span class="productReview-rating rating--small" itemprop="reviewRating" itemscope="" itemtype="http://schema.org/Rating">
                                    {{> components/products/ratings rating=5}}
                                </span>
                                <p class="productReview-author">
                                    Posted by ThemeVale on 26th Sep 2018
                                </p>
                            </header>
                            <p itemprop="reviewBody" class="productReview-body">Phasellus justo felis, venenatis pellentesque finibus ac, mollis non justo. Etiam id ultricies mi, vel lobortis nibh. Fusce de sollicitudin sem eu tortor interdum, vel cursus nisl commodo. Sed rhoncus eleifend elit. In molestie accumsan arcu megete aliquet. Pellentesque rutrum felis non lorem commodo et convallis arcu euismod...</p>
                        </article>
                    </div>
                </div>
            </div>
            <div class="review-item">
                <div class="customer-review">
                    <div class="image-wrapper">
                        <div class="image">
                            <img src="https://cdn11.bigcommerce.com/s-vfv3gnutke/images/stencil/400x400/products/169/585/exterior-2f__08292__93347.1561978921.jpg?c=2" alt="">
                        </div>
                        <div class="title-wrapper title-wrapper-mobile">
                            <p class="card-brand" data-test-info-type="brandName">High Speed Gear®</p>
                            <h4 class="card-title">
                                <a href="/sample-hivamus-imperdiet-vellectus-eleifend-thiam/">(Sample) Magnes de darturien cosmopolis an deros laciniados</a>
                            </h4>
                        </div>
                    </div>
                    <div class="content">
                        <div class="title-wrapper">
                            <p class="card-brand" data-test-info-type="brandName">High Speed Gear®</p>
                            <h4 class="card-title">
                                <a href="/sample-hivamus-imperdiet-vellectus-eleifend-thiam/">(Sample) Magnes de darturien cosmopolis an deros laciniados</a>
                            </h4>
                        </div>
                        <article class="productReview" itemscope="" itemtype="http://schema.org/Review">
                            <header class="is-sticky">
                                <h5 itemprop="name" class="productReview-title">Very Nice Wheels & Rims</h5>
                                <span class="productReview-rating rating--small" itemprop="reviewRating" itemscope="" itemtype="http://schema.org/Rating">
                                    {{> components/products/ratings rating=5}}
                                </span>
                                <p class="productReview-author">
                                    Posted by halothemes on 30th Sep 2018
                                </p>
                            </header>
                            <p itemprop="reviewBody" class="productReview-body">Phasellus volutpat magna id mauris sodales et ornare urna molestie. Mauris non sem tincidunt, hendrerit nisi quis honcus felis. Suspendisse tempus mi durna in mattis de nilos egestas quis. Proin nisi justo consectetur sed lacus.</p>
                        </article>
                    </div>
                </div>
            </div>
            <div class="review-item">
                <div class="customer-review">
                    <div class="image-wrapper">
                        <div class="image">
                            <img src="https://cdn8.bigcommerce.com/s-s9avbdi7u2/images/stencil/400x400/products/125/428/wheel_arch-3b__95617.1534996839.jpg" alt="">
                        </div>
                        <div class="title-wrapper title-wrapper-mobile">
                            <p class="card-brand" data-test-info-type="brandName">Donatello®</p>
                            <h4 class="card-title">
                                <a href="/sample-hivamus-imperdiet-vellectus-eleifend-thiam/">(Sample) Bibendum nisl id urna elementum variusex felis</a>
                            </h4>
                        </div>
                    </div>
                    <div class="content">
                        <div class="title-wrapper">
                            <p class="card-brand" data-test-info-type="brandName">Donatello®</p>
                            <h4 class="card-title">
                                <a href="/sample-hivamus-imperdiet-vellectus-eleifend-thiam/">(Sample) Bibendum nisl id urna elementum variusex felis</a>
                            </h4>
                        </div>
                        <article class="productReview" itemscope="" itemtype="http://schema.org/Review">
                            <header class="is-sticky">
                                <h5 itemprop="name" class="productReview-title">Awesome...</h5>
                                <span class="productReview-rating rating--small" itemprop="reviewRating" itemscope="" itemtype="http://schema.org/Rating">
                                    {{> components/products/ratings rating=5}}
                                </span>
                                <p class="productReview-author">
                                    Posted by Mars Diep on 29th Sep 2018
                                </p>
                            </header>
                            <p itemprop="reviewBody" class="productReview-body">Phasellus justo felis, venenatis pellentesque finibus ac, mollis non justo. Etiam id ultricies mi, vel lobortis nibh. Fusce de sollicitudin sem eu tortor interdum, vel cursus nisl commodo. Sed rhoncus eleifend elit. In molestie accumsan arcu megete aliquet. Pellentesque rutrum felis non lorem commodo et convallis arcu euismod...</p>
                        </article>
                    </div>
                </div>
            </div>
            <div class="review-item">
                <div class="customer-review">
                    <div class="image-wrapper">
                        <div class="image">
                            <img src="https://cdn8.bigcommerce.com/s-s9avbdi7u2/images/stencil/400x400/products/128/440/wheel_arch-10__41437.1534997777.jpg" alt="">
                        </div>
                        <div class="title-wrapper title-wrapper-mobile">
                            <p class="card-brand" data-test-info-type="brandName">Tomorrow®</p>
                            <h4 class="card-title">
                                <a href="/sample-hivamus-imperdiet-vellectus-eleifend-thiam/">(Sample) Hivamus imperdiet vellectus eleifend thiam</a>
                            </h4>
                        </div>
                    </div>
                    <div class="content">
                        <div class="title-wrapper">
                            <p class="card-brand" data-test-info-type="brandName">Tomorrow®</p>
                            <h4 class="card-title">
                                <a href="/sample-hivamus-imperdiet-vellectus-eleifend-thiam/">(Sample) Hivamus imperdiet vellectus eleifend thiam</a>
                            </h4>
                        </div>
                        <article class="productReview" itemscope="" itemtype="http://schema.org/Review">
                            <header class="is-sticky">
                                <h5 itemprop="name" class="productReview-title">Nice Support</h5>
                                <span class="productReview-rating rating--small" itemprop="reviewRating" itemscope="" itemtype="http://schema.org/Rating">
                                    {{> components/products/ratings rating=5}}
                                </span>
                                <p class="productReview-author">
                                    Posted by Phien Dragon on 28th Sep 2018
                                </p>
                            </header>
                            <p itemprop="reviewBody" class="productReview-body">Phasellus volutpat magna id mauris sodales et ornare urna molestie. Mauris non sem tincidunt, hendrerit nisi quis honcus felis. Cosmopolis tempus mi durna in mattis de nilos egestas quis. Proin nisi justo consectetur sed lacus. Sedcus faucibus an sullamcorper mattis drostique des commodo pharetras loremos.</p>
                        </article>
                    </div>
                </div>
            </div>
        </div>
        {{{region name="below_customer_review"}}}
    </div>
</div>
