<div class="themevale_sectionChild">
    <div class="themevale_page-heading-wrapper">
        <h2 class="page-heading text-left">Featured Categories</h2>
        <a href="/hand-tools/" class="themevale_link">Browse All</a>
    </div>
    <div class="themevale_column themevale_column--col{{theme_settings.themevale_featured-category-col}}">
        <div class="item">
            <article class="featured-card">
                <figure class="featured-figure">
                    <div class="featured-img-container">
                        <img class="featured-image lazyload" src="{{cdn 'img/loading.svg'}}" data-src="/product_images/uploaded_images/layer-110.png" alt="" >
                    </div>
                </figure>
                <div class="featured-body">
                    <h4 class="title"><a href="/hand-tools/">Hand Tools</a></h4>
                    <div class="description">
                        <p><a href="/hand-tools/" style="color:#fff;">Carbide insert woodturning tools</a></p>
                        <svg class="icon"><use xlink:href="#icon-chevron-right"></use></svg>
                    </div>
                </div>
                <a href="/hand-tools/"></a>
            </article>
            <article class="featured-card">
                <figure class="featured-figure">
                    <div class="featured-img-container">
                        <img class="featured-image lazyload" src="{{cdn 'img/loading.svg'}}" data-src="/product_images/uploaded_images/layer-124.png" alt="" >
                    </div>
                </figure>
                <div class="featured-body">
                    <h4 class="title"><a href="/drilling/">Drilling</a></h4>
                    <div class="description">
                        <p><a href="/drilling/" style="color:#fff;">Clean and accurate holes can be perfectly drilled</a></p>
                        <svg class="icon"><use xlink:href="#icon-chevron-right"></use></svg>
                    </div>
                </div>
                <a href="/drilling/"></a>
            </article>
            
        </div>
        <div class="item">
            <article class="featured-card">
                <figure class="featured-figure">
                    <div class="featured-img-container">
                        <img class="featured-image lazyload" src="{{cdn 'img/loading.svg'}}" data-src="/product_images/uploaded_images/layer-106.png" alt="" >
                    </div>
                </figure>
                <div class="featured-body">
                    <h4 class="title"><a href="/workshop-equipment/benches-vices/">Benches,Vices & Storage</a></h4>
                    <div class="description">
                       <p><a href="/workshop-equipment/benches-vices/" style="color:#fff;">With our latest measuring and marking products</a></p>
                        <svg class="icon"><use xlink:href="#icon-chevron-right"></use></svg>
                    </div>
                </div>
                <a href="/workshop-equipment/benches-vices/"></a>
            </article>
            <article class="featured-card">
                <figure class="featured-figure">
                    <div class="featured-img-container">
                        <img class="featured-image lazyload" src="{{cdn 'img/loading.svg'}}" data-src="/product_images/uploaded_images/layer-126.png" alt="" >
                    </div>
                </figure>
                <div class="featured-body">
                    <h4 class="title"><a href="/routing/">Routing & <br> Table Saw Systems</a></h4>
                    <div class="description">
                        <p><a href="/routing/" style="color:#fff;">Drilling,milling and template work can be done</a></p>
                        <svg class="icon"><use xlink:href="#icon-chevron-right"></use></svg>
                    </div>
                </div>
                <a href="/routing/"></a>
            </article>
        </div>
        <div class="item">
            <article class="featured-card">
                <figure class="featured-figure">
                    <div class="featured-img-container">
                        <img class="featured-image lazyload" src="{{cdn 'img/loading.svg'}}" data-src="/product_images/uploaded_images/layer-120.png" alt="" >
                    </div>
                </figure>
                <div class="featured-body">
                    <h4 class="title"><a href="/hand-tools/measuring/">Measuring</a></h4>
                    <div class="description">
                        <p><a href="/hand-tools/measuring/" style="color:#fff;">Accurate marking of dovetail slopes in one handy tool</a></p>
                        <svg class="icon"><use xlink:href="#icon-chevron-right"></use></svg>
                    </div>
                </div>
                <a href="/hand-tools/measuring/"></a>
            </article>
            <article class="featured-card">
                <figure class="featured-figure">
                    <div class="featured-img-container">
                        <img class="featured-image lazyload" src="{{cdn 'img/loading.svg'}}" data-src="/product_images/uploaded_images/layer-125.png" alt="" >
                    </div>
                </figure>
                <div class="featured-body">
                    <h4 class="title"><a href="/hand-tools/">Hand Tools</a></h4>
                    <div class="description">
                        <p><a href="/hand-tools/" style="color:#fff;">Hand tools for woodworkers and craftsmen</a></p>
                        <svg class="icon"><use xlink:href="#icon-chevron-right"></use></svg>
                    </div>
                </div>
                <a href="/hand-tools/"></a>
            </article>
        </div>
    </div>
</div>
