// =============================================================================
// FOOTER (Settings)
// =============================================================================

$footer-background:                         stencilColor("footer-backgroundColor");
$footer-fontColor:                      	stencilColor("footer-fontColor");
$footer-fontColorHover:                     stencilColor("footer-fontColorHover");
