// =============================================================================
// HEADER (CSS)
//
// 1. Setting font size of header-logo to 0, since wrapper element may vary, and
//    inline-block whitespace messes with header height. Font-size is reset to
//    appropriate size on header-logo-text.
// 2. Needs left/right margin so it doesn't cover left/right nav bar toggles
// 3. Offset the letter-spacing on the last character by adding a right negative
//    margin. This centers the text logo properly.
// 4. When the word "cart" is added to the mobile header's cart link, add more
//    margin to compensate.
// 5. When logo size is set to "original", we don't have advance knowledge of the
//    image size, so we can't use absolute positioning + padding to reserve space
//    for lazy loading.
//
// -----------------------------------------------------------------------------

.header {
    background-color: $header-bg;
    border-bottom: none;
    overflow: visible;
    position: relative;
    width: 100%;
    z-index: zIndex("low");
    border-bottom: none;
    box-shadow: 0 1px 2px rgba(0,0,0,0.15);
    &.is-open {
        @include breakpoint("medium") {
            height: auto;
        }
    }
    &.is-sticky {
        top: 0;
        position: fixed;
        animation-name: fadeInDown;
        animation-duration: 0.5s;
        animation-fill-mode: both;
        box-shadow: 0 0 0 1px rgba(0, 0, 0, 0.06), 0 1px 2px 0 rgba(0, 0, 0, 0.1);
        > .themevale_bottomHeader, > .navUser, > #menu {
            display: none;
        }
    }
    @media (min-width: 1025px) {
        box-shadow: 0 0 0 1px rgba(0, 0, 0, 0.06), 0 1px 2px 0 rgba(0, 0, 0, 0.1);
        &.is-sticky {
            z-index: 99;
            .header-logo-image {
                max-height: 30px;
            }
            .themevale_middleHeader {
                padding-top: 10px;
                padding-bottom: 10px;
            }
            .middleHeader-container > {
                .middleHeader-item.text-left {
                    display: block;
                }
                .middleHeader-item > .item--hamburger {
                    display: inline-block;
                }
            }
        }
    }
}

.header-logo {
    margin: 0;
    font-size: 0;
    text-align: center;
    > a {
        @include clearfix;
        color: $storeName-color;
        display: inline-block;
        position: relative;
        text-decoration: none;
        z-index: 1;
    }
}

.header-logo-text {
    display: block;
    font-family: $fontFamily-hero;
    font-size: $fontSize-logo-small;
    font-weight: stencilFontWeight("logo-font");
    letter-spacing: remCalc(5px);
    margin-left: auto;
    margin-right: auto;
    overflow: hidden;
    line-height: 1;
    padding: remCalc(3px) 0;
    text-overflow: ellipsis;
    text-transform: uppercase;
    white-space: nowrap;

    @include breakpoint("small") {
        font-size: $fontSize-logo-medium;
        padding-bottom: 0;
        padding-top: 0;
    }

    @include breakpoint("medium") {
        display: inline;
        font-size: $fontSize-logo-large;
        margin-left: 0;
        max-width: none;
        overflow: auto;
        white-space: normal;
        vertical-align: top;
    }
}

.header-logo-image-container {
    position: relative;
}

.header-logo-image {
    max-height: 24px;
    width: auto;
    @media (min-width: 768px) {
        max-height: 30px;
    }
    @media (min-width: 1025px) {
        max-height: 50px;
    }
}

.header-logo-image-unknown-size { // 5
    max-height: remCalc($header-height) - $header-logo-marginVertical * 2;

    @include breakpoint("medium") {
        max-height: none;
    }
}

//
// Mobile Menu Toggle
//
// 1. Animate lines from 'x' to hamburger
// -----------------------------------------------------------------------------

.mobileMenu-toggle {
    width: 30px;
    height: 30px;
    font-size: 0;
    overflow: hidden;
    position: relative;
    display: block;
    z-index: 1;
    outline: none;
    box-shadow: none;
    .mobileMenu-toggleIcon,
    .mobileMenu-toggleIcon::before,
    .mobileMenu-toggleIcon::after {
        background: stencilColor('themevale_middle-color');
        content: "";
        display: block;
        height: 2px;
        width: 100%;
        position: absolute;
        transform: rotate(0deg);
        transition: transform 100ms ease-in, top 100ms ease-in 150ms, bottom 100ms ease-in 150ms; // 1
    }
    .mobileMenu-toggleIcon {
        top: 50%;
        width: calc(100%);
        transform: translateY(-50%);
        transition: background-color 10ms ease-in 100ms;
    }
    .mobileMenu-toggleIcon::before {
        top: -8px;
    }
    .mobileMenu-toggleIcon::after {
        bottom: -8px;
    }
    &.is-open .mobileMenu-toggleIcon {
        background-color: transparent;
        transition-delay: 100ms;
        &::before,
        &::after {
            bottom: auto;
            top: auto;
            transition: transform 100ms ease-in 150ms, top 100ms ease-in, bottom 100ms ease-in;
        }
        &::before {
            top: 0;
            transform: rotate(45deg);
        }
        &::after {
            bottom: 0;
            transform: rotate(-45deg);
        }
    }
    @media (min-width: 768px) {
        width: 30px;
        height: 30px;
        .mobileMenu-toggleIcon::before {
            top: -10px;
        }
        .mobileMenu-toggleIcon::after {
            bottom: -10px;
        }
    }
    @media (min-width: 1025px) {
        .mobileMenu-toggleIcon,
        .mobileMenu-toggleIcon::before,
        .mobileMenu-toggleIcon::after {
            height: 2px;
        }
    }
}


.page-type-login {
    .accountMobile {
        pointer-events: none;
    }
}

/*=========================================
=            www.themevale.com            =
=========================================*/

    /*--------  1.0 Topbar Promotion  ---*/

        #themevale_top-promotion {
            font-size: 11px;
            padding: 12px 0;
            color: stencilColor('themevale_top-promotion-color');
            text-align: center;
            position: relative;
            background-color: stencilColor('themevale_top-promotion-bg');
            .banner-promotion {
                .image, .text, .link {
                    margin-bottom: 0;
                    display: inline-block;
                    vertical-align: middle;
                }
                .image {
                    margin-right: 15px;
                    max-height: 14px;
                }
                .text {
                    color: stencilColor('themevale_top-promotion-color');
                }
                .link {
                    display: none;
                }
            }
            .close-banner-promotion {
                top: 50%;
                right: 5px;
                font-size: 0;
                line-height: 1;
                position: absolute;
                transform: translateY(-50%);
                svg {
                    fill: stencilColor('themevale_top-promotion-color');
                    width: 20px;
                    height: 20px;
                    line-height: 20px;
                }
            }
            @media (min-width: 768px) {
                font-size: 12px;
                .banner-promotion {
                    .image {
                        max-height: 20px;
                    }
                    .text {
                        margin-right: 15px;
                    }
                    .link {
                        display: inline-block;
                        padding: 2px 15px;
                        font-size: 12px;
                        font-weight: 700;
                        border-radius: 3px;
                        text-transform: initial;
                        color: stencilColor('themevale_top-promotion-url-color');
                        background-color: stencilColor('themevale_top-promotion-url-bg');
                    }
                }
            }
            @media (min-width: 1025px) {
                .close-banner-promotion {
                    right: 30px;
                }
            }
        }

    /*--------  2.0 Header Middle  ------*/
        .themevale_cart {
            font-size: 0;
            position: relative;
        }

        .themevale_middleHeader {
            z-index: 11;
            padding: 10px 0;
            position: relative;
            @media (min-width: 1025px){
                padding: 20px 0;
            }
        }

        .middleHeader-container {
            width: 100%;
            margin: 0 auto;
            padding: 0 15px;
            max-width: 1200px;
            display: flex;
            flex-wrap: nowrap;
            align-items: center;
            flex-direction: row;
            justify-content: flex-start;
            justify-content: space-between;
            color: stencilColor('themevale_middle-color');
            > .middleHeader-item {
                display: flex;
                flex-wrap: nowrap;
                align-items: center;
                flex-direction: row;
                justify-content: space-between;
                > .items {
                    + .items:not(.item--logo) {
                        margin-left: 15px;
                    }
                }
                .item--mobile,
                .item--account,
                .item--hamburger,
                .item--searchMobile {
                    display: block;
                }
                .item--account {
                    margin-left: 0 !important;
                    .accountPC,
                    .my-account,
                    .my-account-link {
                        display: none;
                    }
                    .accountMobile {
                        display: block;
                    }
                    .navUser-action {
                        line-height: 1;

                    }
                }
                .item--quicksearch {
                    flex-grow: 1;
                    max-width: 590px;
                    .themevale_search {
                        left: auto;
                        z-index: 21;
                        position: relative;
                    }
                    .quickSearchResults {
                        position: absolute;
                    }
                }
                .item--cart.layout-2,
                .item--office,
                .item--office-2,
                .item--wishlist,
                .item--quicksearch {
                    display: none;
                }
                .item--office {
                    text-align: right;
                    .office-phone {
                        margin: 0;
                        font-size: 16px;
                        line-height: 1;
                        font-weight: 700;
                        text-transform: uppercase;
                        color: stencilColor('themevale_middle-color');
                        .icon {
                            display: inline-block;
                            vertical-align: middle;
                            margin-right: 5px;
                            width: 16px;
                            height: 16px;
                            position: relative;
                            top: -2px;
                        }
                    }
                    .office-hours {
                        line-height: 1;
                        margin: 5px 0 0 0;
                        color: #646464;
                    }
                }
                .item--office-2 {
                    text-align: left;
                    > img {
                        display: inline-block;
                        max-width: 65px;
                        vertical-align: middle;
                    }
                    .office-text {
                        color: stencilColor('themevale_middle-color');
                        display: inline-block;
                        vertical-align: middle;
                        padding-left: 15px;
                        margin-left: 15px;
                        margin-bottom: 0;
                        border-left: 1px solid #4b4b4b;
                    }
                }
                .themevale_cart {
                    .cartdesktop {
                        display: none;
                        + .dropdown-cart {
                            display: none;
                        }
                    }
                    .cartMobile {
                        display: block;
                    }
                    @media (min-width: 1025px) {
                        .cartdesktop {
                            display: block;
                        }
                        .cartMobile {
                            display: none;
                        }
                    }
                }
                @media (min-width: 360px){
                    > .items {
                        + .items:not(.item--logo) {
                            margin-left: 20px;
                        }
                    }
                }
                @media (min-width: 768px){
                    > .items {
                        + .items:not(.item--logo) {
                            margin-left: 50px;
                        }
                    }
                }
                @media (min-width: 1025px){
                    .item--mobile,
                    .item--hamburger,
                    .item--searchMobile {
                        display: none;
                    }
                    .item--hamburger {
                        margin-right: 30px;
                    }
                    .item--cart.layout-2,
                    .item--office,
                    .item--office-2,
                    .item--wishlist,
                    .item--quicksearch {
                        display: block;
                    }
                    .item--account {
                        margin-left: 30px !important;
                        .accountPC,
                        .my-account,
                        .my-account-link {
                            display: block;
                        }
                        .accountMobile {
                            display: none;
                        }
                    }
                    &.text-left {
                        display: none;
                    }
                    &.text-center {
                        padding-right: 30px;
                    }
                    &.text-right {
                        width: 77%;
                    }
                    > .items {
                        + .items:not(.item--logo) {
                            margin-left: 30px;
                        }
                        + .items.layout-2:not(.item--logo) {
                            margin-left: 15px;
                        }
                    }
                }
            }
            .navUser-action {
                padding: 0;
                color: stencilColor('themevale_middle-color');
                font-size: 12px;
                font-weight: 700;
                text-align: center;
                text-transform: uppercase;
                svg {
                    fill: stencilColor('themevale_middle-color');
                    stroke: transparent;
                }
                .navUser-text {
                    display: none;
                    line-height: 1;
                }
                .navUser-icon {
                    margin: 0;
                    display: inline-block;
                    svg {
                        pointer-events: none;
                        @include square(24px);
                        margin: 0;
                    }
                }
                &.layout-2 {
                    display: inline-block;
                    vertical-align: middle;
                    padding: 10px;
                    border-radius: 3px;
                    border: 2px solid stencilColor('themevale_middle-search-border');
                    .navUser-icon {
                        margin-bottom: 0;
                    }
                    .navUser-item-cartIcon {
                        .countPill {
                            @media (min-width: 768px) {
                                top: -20px;
                                right: -20px;
                            }
                        }
                    }
                }
                &.custom-2 {
                    text-transform: capitalize;
                    line-height: 1;
                }
                &.navUser-action-cart {
                    border-radius: 3px 0 0 3px;
                }
                &.navUser-action-price {
                    display: inline-block;
                    vertical-align: middle;
                    border-left: none;
                    border-radius: 0 3px 3px 0;
                    .navUser-item-price {
                        margin: 0;
                        height: 26px;
                        line-height: 26px;
                        text-transform: capitalize;
                    }
                }
                @media (min-width: 415px){
                    .navUser-icon {
                        svg {
                            @include square(26px);
                        }
                    }
                }
                @media (min-width: 1025px){
                    .navUser-text {
                        display: block;
                    }
                    .navUser-icon {
                       margin-bottom: 7px; 
                    }
                }
            }
            .item--account {
                text-align: left;
                .my-account {
                    margin: 0;
                    /*color: #5d6673;*/
                    font-weight: 700;
                    text-transform: capitalize;
                    display: block;
                }
                .my-account-link {
                    display: block;
                    position: relative;
                    .navUser-action {
                        font-weight: 400;
                        text-transform: capitalize;
                        display: inline-block;
                        vertical-align: top;
                        color: stencilColor('themevale_middle-color');
                        .icon {
                            margin-left: 5px;
                            margin-top: -1px;
                        }
                        svg {
                            fill: stencilColor('themevale_middle-color');
                            stroke: stencilColor('themevale_middle-color');
                        }
                    }
                }
            }
            .navUser-action-loginLabel,
            .navUser-action-create_accountLabel {
                display: inline-block;
                vertical-align: middle;
            }

            .navUser-action-create_accountLabel {
                margin-left: 5px;
                padding-left: 5px;
                border-left: 1px solid #4b4b4b;
            }
            .page-full-width & {
                @media (min-width: 1281px) {
                    max-width: none;
                    width: 100%;
                    padding-left: 50px;
                    padding-right: 50px;
                }
                @media (min-width: 1601px) {
                    max-width: 1600px;
                    padding-left: 15px;
                    padding-right: 15px;
                }
            }
            @media (min-width: 993px) {
                padding: 0 20px;
            }
            @media (min-width: 1025px) {
                padding: 0 15px;
            }
        }

    /*--------  3.0 Header Bottom  ------*/

        .themevale_bottomHeader {
            position: relative;
            border-top: 1px solid stencilColor('themevale_header-bottom-border');
            background-color: stencilColor('themevale_header-bottom-background');
        }


    /*--------  4.0 header Layout 2  -------*/
        .themevale_header-layout-2 {
            box-shadow: none;
            .themevale_middleHeader {
                border-top: 1px solid stencilColor('themevale_middle-bordercolor');
            }
            .themevale_bottomHeader {
                display: none;
                border-top: none;
            }
            .themevale_search {
                #search_category {
                    background-color: stencilColor('themevale_middle-search-input');
                    color: stencilColor('themevale_middle-search-color');
                    .icon {
                        fill: stencilColor('themevale_middle-search-color');
                        stroke: stencilColor('themevale_middle-search-color');
                    }
                    &:after {
                        background-color: #e2e4e8;
                    }
                }
            }
            .navPages {
                .navPages-item > .navPages-action {
                    .navPages-action-moreIcon {
                        display: inline-block;
                        vertical-align: middle;
                    }
                }
                .navPages-list--user {
                    display: block;
                }
                .navPages-item {
                    > .navPages-action {
                        font-size: 12px;
                        padding: 13px 0 11px;
                        .text:before {
                            left: 0;
                            bottom: -2px;
                            content: "";
                            height: 1px;
                            width: 0;
                            position: absolute;
                            transition: all .3s ease;
                            background-color: stencilColor('navPages-color-hover');
                        }
                    }
                    &:hover {
                        background-color: transparent;
                        > .navPages-action {
                            color: stencilColor('navPages-color-hover');
                            .text:before {
                                width: 100%;
                            }
                        }
                    }
                }
            }
            .themevale_allCategories {
                width: 265px;
                border-left: 1px solid stencilColor('themevale-allCategories-borderColor');
                border-right: 1px solid stencilColor('themevale-allCategories-borderColor');
                .themevale_allCategories-text {
                    .text {
                        font-size: 12px;
                    }
                }
            }
            .themevale_allCategories-dropdown {
                border-radius: 0;
                border: 1px solid stencilColor('themevale-allCategories-borderColor');
                border-top: none;
                height: 425px;
                left: -1px;
                right: -1px;
                .navPages-action .icon,
                .navPages-item {
                    margin-bottom: 5px;
                }
            }
            @media (min-width: 768px) {
                .middleHeader-container > .middleHeader-item .item--quicksearch,
                .themevale_search {
                    max-width: 700px;
                }
            }
            @media (min-width: 1025px) {
                .themevale_bottomHeader {
                    display: block;
                    position: relative;
                    border-bottom: 1px solid stencilColor('themevale_header-bottom-border');
                }
            }
            @media (min-width: 1281px) {
                .middleHeader-container > {
                    .middleHeader-item .item--quicksearch {
                        margin-left: 50px !important;
                        margin-right: 30px !important;
                    }
                }
                .middleHeader-container > .middleHeader-item .item--quicksearch,
                .themevale_search {
                    .page-full-width & {
                        width: 680px;
                    }
                }
                .middleHeader-container > .middleHeader-item.text-right {
                    width: 85%;
                }
            }
        }

    /*--------  5.0 Header layout 3  ------*/
        .themevale_header-layout-3 {
            .navPages-container {
                position: relative;
            }
            .custom-link {
                right: 0;
                top: 50%;
                position: absolute;
                transform: translateY(-50%);
                .navPages-action {
                    font-size: 1.21rem;
                    font-weight: 700;
                    display: inline-block;
                    padding: 13px 0 11px;
                    position: relative;
                    font-family: $fontFamily-headings;
                    color: #f04723;
                    .text {
                        position: relative;
                        &:before {
                            left: 0;
                            bottom: -1px;
                            content: "";
                            height: 1px;
                            width: 100%;
                            position: absolute;
                            transition: all 0.3s ease;
                            background-color: #f04723;
                        }
                    }
                }
            }
            .navPages {
                .navPages-item > .navPages-action {
                    .navPages-action-moreIcon {
                        display: inline-block;
                        vertical-align: middle;
                    }
                }
                .navPages-list--user {
                    display: block;
                }
            }
            .navPages {
                .navPages-item {
                    > .navPages-action {
                        padding: 13px 0 11px;
                        .text:before {
                            left: 0;
                            bottom: -2px;
                            content: "";
                            height: 1px;
                            width: 0;
                            position: absolute;
                            transition: all .3s ease;
                            background-color: #383e47;
                        }
                    }
                    &:hover {
                        background-color: transparent;
                        > .navPages-action {
                            color: stencilColor('navPages-color');
                            .text:before {
                                width: 100%;
                            }
                        }
                    }
                }
            }
        }
/*=====  End of www.themevale.com  ======*/
