{{#if theme_settings.sidebar_advertisement-cms}}
	<div class="sidebarBlock" id="advertisement-content">
	    <h5 class="sidebarBlock-heading"><span>{{theme_settings.sidebar_advertisement-cms-title}}</span></h5>
	    <div class="sidebarBlock-content">
	        <p>{{theme_settings.sidebar_advertisement-cms-text1}} {{theme_settings.sidebar_advertisement-cms-text2}}</p>
	        <p>{{theme_settings.sidebar_advertisement-cms-text3}} {{theme_settings.sidebar_advertisement-cms-text4}}</p>
	    </div>
	</div>
{{/if}}
