{{#if theme_settings.sidebar_advertisement-image}}
	{{#if theme_settings.sidebar_advertisement-image-2}}
		<div class="sidebarBlock" id="advertisement-image-2">
			<div class="advertisement-image">
				<a class="image" href="{{theme_settings.sidebar_advertisement-image-2-link}}">
					<img src="/product_images/uploaded_images/{{theme_settings.sidebar_advertisement-image-2}}" alt="{{theme_settings.sidebar_advertisement-image-2}}" title="{{theme_settings.sidebar_advertisement-image-2}}">
				</a>
			</div>
		</div>
	{{/if}}
{{/if}}
