{{#if theme_settings.sidebar_advertisement-image}}
	{{#if theme_settings.sidebar_advertisement-image-1}}
		<div class="sidebarBlock" id="advertisement-image-1">
			<div class="advertisement-image">
				<a class="image" href="{{theme_settings.sidebar_advertisement-image-1-link}}">
					<img src="/product_images/uploaded_images/{{theme_settings.sidebar_advertisement-image-1}}" alt="{{theme_settings.sidebar_advertisement-image-1}}" title="{{theme_settings.sidebar_advertisement-image-1}}">
				</a>
			</div>
		</div>
	{{/if}}
{{/if}}
