// =============================================================================
// BODY (CSS)
//
// 1. Header is fixed on small screens, use the content body to create the whitespace
//    between it and the header on all situations. If you change the spacing here,
//    please update .heroCarousel too.
//
// =============================================================================


.body {
    padding-bottom: 30px;
    @include breakpoint("small") {
        padding-bottom: 50px;
    }
    @include breakpoint("medium") {
        padding-bottom: 80px;
    }
    .page-type-default & {
        padding-bottom: 0;
    }
}


.page {
    @include grid-row(
        $behavior: nest
    );
    margin: 0;
}

.page-sidebar,
.page-content,
.page-content--full {
    width: 100%;
    float: left;
    padding: 0;
    position: relative;
}

.page-content--centered {
    @include breakpoint("medium") {
        @include grid-column(
            $columns: 8,
            $center: true
        );
    }
}

.page-content--textCenter {
    text-align: center;
}

.page-sidebar {
    display: none;
    @media (min-width: 1025px) {
        width: 270px;
        display: block;
        padding-right: 15px;
        + .page-content {
            padding-left: 15px;
            width: calc(100% - 270px);
        }
        &.u-hiddenVisually + .page-content {
            width: 100%;
            padding-left: 0;
        }
    }
}
