<nav>
    {{#if product_results.faceted_search_enabled}}
        {{> components/faceted-search/index product_results}}
    {{else}}
        {{> components/themevale/sidebar/side-all-categories}}
        {{#if products.featured}}
            {{> components/themevale/sidebar/featured-products products=products.featured}}
        {{/if}}
    {{/if}}

    {{> components/themevale/sidebar/advertisement-image-1}}

    {{> components/themevale/sidebar/advertisement-image-2}}
    
    <!--{{> components/themevale/sidebar/advertisement-content}}-->
</nav>
