// =============================================================================
// FACET LABEL (CSS)
// =============================================================================

.facetLabel {
    font-size: 12px;
    color: #8c8c8c;
    line-height: 1;
    padding: 9px 12px;
    border-radius: 3px;
    display: inline-block;
    vertical-align: top;
    text-decoration: none;
    background-color: #f7f7f7;
    border: 1px solid #f7f7f7;
    box-shadow: 0 1px 1px rgba(0,0,0,0.2);
    .icon {
        @include square(12px);
        display: inline-block;
        fill: $facetLabel-removeIcon-color;
        position: relative; // Vertical align the icon
        top: -1px; // Vertical align the icon
        margin-left: 5px;
    }
}
