<fieldset class="form-fieldset actionBar-section">
    <div class="form-field">
        <label class="form-label" for="limit">{{lang 'common.number_products.show'}}</label>
        <select class="form-select" name="limit" id="limit">
            <option value="9" {{#if '9' '==' theme_settings.categorypage_products_per_page }}selected{{/if}}>9 {{lang 'common.number_products.show_text'}}</option>
            <option value="12" {{#if '12' '==' theme_settings.categorypage_products_per_page }}selected{{/if}}>12 {{lang 'common.number_products.show_text'}}</option>
            <option value="15" {{#if '15' '==' theme_settings.categorypage_products_per_page }}selected{{/if}}>15 {{lang 'common.number_products.show_text'}}</option>
            <option value="20" {{#if '20' '==' theme_settings.categorypage_products_per_page }}selected{{/if}}>20 {{lang 'common.number_products.show_text'}}</option>
            <option value="24" {{#if '24' '==' theme_settings.categorypage_products_per_page }}selected{{/if}}>24 {{lang 'common.number_products.show_text'}}</option>
            <option value="30" {{#if '30' '==' theme_settings.categorypage_products_per_page }}selected{{/if}}>30 {{lang 'common.number_products.show_text'}}</option>
        </select>
    </div>
</fieldset>
<script>
(function(){
    try {
        var url = new URL(window.location.href);
        var c = url.searchParams.get("limit");
        if(c != null){
            var limit = document.querySelectorAll('select#limit option');
            Array.prototype.forEach.call(limit, function(element) {
                if(element.value == c){
                    element.selected = true;
                }
            });
        }
    } catch(e) {}
}());
</script>
