
<div class="sidebar-cont">
    <nav class="{{#if category.faceted_search_enabled}}facetedSearch-enabled{{/if}}">
        <div class="sidebar-header-mobile">
            <h5 class="sidebarBlock-heading">{{lang 'search.faceted.filters'}}</h5>
            <svg class="icon" id="close-sidebar">
                <use xlink:href="#icon-close" />
            </svg>
        </div>
        {{#all category.subcategories theme_settings.subcategories_left_column}}
            <div class="facetedSearch sidebarBlock">
                <div id="subcategoryList" class="facetedSearch-navList blocker-container">
                    <div class="accordion accordion--navList">
                        <h5 class="sidebarBlock-heading">{{category.name}}</h5>
                        <ul class="navList">
                            {{#each category.subcategories}}
                            <li class="navList-item">
                                <a class="navList-action" href="{{url}}" alt="{{name}}" title="{{name}}">{{name}}</a>
                            </li>
                            {{/each}}
                        </ul>
                    </div>
                    <div class="blocker" style="display: none;"></div>
                </div>
            </div>
        {{/all}}
        {{#if template '!==' 'pages/custom/category/category-nofilters'}}
            {{#if category.faceted_search_enabled}}
                {{> components/faceted-search/index category}}
            {{/if}}
        {{/if}}
        {{#unless category.faceted_search_enabled}}
            {{#all theme_settings.shop_by_price_visibility category.shop_by_price}}
                <div class="facetedSearch sidebarBlock">
                    <div id="facetedSearch-byPrice" class="facetedSearch-navList blocker-container">
                        <div class="accordion accordion--navList">
                            {{> components/category/shop-by-price shop_by_price=category.shop_by_price category_url=category.url}}
                        </div>
                    </div>
                </div>
            {{/all}}
        {{/unless}}
    </nav>
</div>
<div>
    <button id="apply-filters">Aplicar filtros</button>
</div>
