
{{#if banner '==' banner-image}}
<div class="themevale_bannerByCategoryId" data-slick='{
        "dots": true,
        "arrows": false,
        "infinite": false,
        "slidesToShow": 1,
        "slidesToScroll": 1,
        "mobileFirst": true,
        "responsive": [
            {
                "breakpoint": 551,
                "settings": {
                    "dots": false,
                    "arrows": false,
                    "slidesToShow": 2,
                    "slidesToScroll": 2
                }
            }
    ]}'>
    <div class="item">
        <div class="bannerimage-wrapper">
            <a class="link" href="#">
                <img class="lazyload" data-sizes="auto" src="{{cdn 'img/loading.svg'}}" data-src="/product_images/uploaded_images/banner-sale-1.jpg" alt="banner-sale-1">
            </a>
        </div>
    </div>
    <div class="item">
        <div class="bannerimage-wrapper">
            <a class="link" href="#">
                <img class="lazyload" data-sizes="auto" src="{{cdn 'img/loading.svg'}}" data-src="/product_images/uploaded_images/banner-sale-2.jpg" alt="banner-sale-2">
            </a>
        </div>
    </div>
</div>
{{/if}}

{{#if banner '==' 0}}
    <div class="themevale_bannerbycategory themevale_bannerbycategory_1">
        <div class="themevale_bannerbycategory-carousel" data-slick='{
            "arrows": false,
            "dots": true,
            "infinite": false,
            "slidesToShow": 4,
            "slidesToScroll": 4
        }'>
            <div class="item">
                <div class="bannerbycategory-wrapper">
                    <div class="image">
                        <a href="#"><img class="lazyload" data-sizes="auto" src="{{cdn 'img/loading.svg'}}" data-src="/product_images/uploaded_images/banner-marketing-in-1.jpg" alt=""></a>
                    </div>
                    <div class="content">
                        <h6 class="title"><a href="#">Floor Mats</a></h6>
                        <p>Dinterdum pretium, Mauris, Condimentus</p>
                    </div>
                </div>
            </div>
            <div class="item">
                <div class="bannerbycategory-wrapper">
                    <div class="image">
                        <a href="#"><img class="lazyload" data-sizes="auto" src="{{cdn 'img/loading.svg'}}" data-src="/product_images/uploaded_images/banner-marketing-in-2.jpg" alt=""></a>
                    </div>
                    <div class="content">
                        <h6 class="title"><a href="#">Steering Wheels</a></h6>
                        <p>Dinterdum pretium, Mauris, Condimentus</p>
                    </div>
                </div>
            </div>
            <div class="item">
                <div class="bannerbycategory-wrapper">
                    <div class="image">
                        <a href="#"><img class="lazyload" data-sizes="auto" src="{{cdn 'img/loading.svg'}}" data-src="/product_images/uploaded_images/banner-marketing-in-3.jpg" alt=""></a>
                    </div>
                    <div class="content">
                        <h6 class="title"><a href="#">Dash Cover</a></h6>
                        <p>Dinterdum pretium, Mauris, Condimentus</p>
                    </div>
                </div>
            </div>
            <div class="item">
                <div class="bannerbycategory-wrapper">
                    <div class="image">
                        <a href="#"><img class="lazyload" data-sizes="auto" src="{{cdn 'img/loading.svg'}}" data-src="/product_images/uploaded_images/banner-marketing-in-4.jpg" alt=""></a>
                    </div>
                    <div class="content">
                        <h6 class="title"><a href="#">Seat Covers</a></h6>
                        <p>Dinterdum pretium, Mauris, Condimentus</p>
                    </div>
                </div>
            </div>
            <div class="item">
                <div class="bannerbycategory-wrapper">
                    <div class="image">
                        <a href="#"><img class="lazyload" data-sizes="auto" src="{{cdn 'img/loading.svg'}}" data-src="/product_images/uploaded_images/banner-marketing-in-3.jpg" alt=""></a>
                    </div>
                    <div class="content">
                        <h6 class="title"><a href="#">Dash Cover</a></h6>
                        <p>Dinterdum pretium, Mauris, Condimentus</p>
                    </div>
                </div>
            </div>
        </div>
    </div>
{{/if}}

{{#if banner '==' 1}}
    <div class="themevale_bannerbycategory themevale_bannerbycategory_2">
        <div class="themevale_bannerbycategory-carousel" data-slick='{
            "arrows": false,
            "dots": true,
            "infinite": false,
            "slidesToShow": 4,
            "slidesToScroll": 4
        }'>
            <div class="item">
                <div class="bannerbycategory-wrapper">
                    <div class="image">
                        <a href="#"><img class="lazyload" data-sizes="auto" src="{{cdn 'img/loading.svg'}}" data-src="/product_images/uploaded_images/banner-marketing-ex-1.jpg" alt=""></a>
                    </div>
                    <div class="content">
                        <h6 class="title"><a href="#">Body Kits</a></h6>
                        <p>Dinterdum pretium, Mauris, Condimentus</p>
                    </div>
                </div>
            </div>
            <div class="item">
                <div class="bannerbycategory-wrapper">
                    <div class="image">
                        <a href="#"><img class="lazyload" data-sizes="auto" src="{{cdn 'img/loading.svg'}}" data-src="/product_images/uploaded_images/banner-marketing-ex-2.jpg" alt=""></a>
                    </div>
                    <div class="content">
                        <h6 class="title"><a href="#">Custom Hoods</a></h6>
                        <p>Dinterdum pretium, Mauris, Condimentus</p>
                    </div>
                </div>
            </div>
            <div class="item">
                <div class="bannerbycategory-wrapper">
                    <div class="image">
                        <a href="#"><img class="lazyload" data-sizes="auto" src="{{cdn 'img/loading.svg'}}" data-src="/product_images/uploaded_images/banner-marketing-ex-3.jpg" alt=""></a>
                    </div>
                    <div class="content">
                        <h6 class="title"><a href="#">Spoliers</a></h6>
                        <p>Dinterdum pretium, Mauris, Condimentus</p>
                    </div>
                </div>
            </div>
            <div class="item">
                <div class="bannerbycategory-wrapper">
                    <div class="image">
                        <a href="#"><img class="lazyload" data-sizes="auto" src="{{cdn 'img/loading.svg'}}" data-src="/product_images/uploaded_images/banner-marketing-ex-4.jpg" alt=""></a>
                    </div>
                    <div class="content">
                        <h6 class="title"><a href="#">Custom Grilles</a></h6>
                        <p>Dinterdum pretium, Mauris, Condimentus</p>
                    </div>
                </div>
            </div>
            <div class="item">
                <div class="bannerbycategory-wrapper">
                    <div class="image">
                        <a href="#"><img class="lazyload" data-sizes="auto" src="{{cdn 'img/loading.svg'}}" data-src="/product_images/uploaded_images/banner-marketing-ex-2.jpg" alt=""></a>
                    </div>
                    <div class="content">
                        <h6 class="title"><a href="#">Custom Hoods</a></h6>
                        <p>Dinterdum pretium, Mauris, Condimentus</p>
                    </div>
                </div>
            </div>
        </div>
    </div>
{{/if}}

{{#if banner '==' 2}}
    <div class="themevale_bannerbycategory themevale_bannerbycategory_3">
        <div class="themevale_bannerbycategory-carousel" data-slick='{
            "arrows": false,
            "dots": true,
            "infinite": false,
            "slidesToShow": 4,
            "slidesToScroll": 4
        }'>
            <div class="item">
                <div class="bannerbycategory-wrapper">
                    <div class="image">
                        <a href="#"><img class="lazyload" data-sizes="auto" src="{{cdn 'img/loading.svg'}}" data-src="/product_images/uploaded_images/banner-marketing-pe-1.jpg" alt=""></a>
                    </div>
                    <div class="content">
                        <h6 class="title"><a href="#">Transmission</a></h6>
                        <p>Dinterdum pretium, Mauris, Condimentus</p>
                    </div>
                </div>
            </div>
            <div class="item">
                <div class="bannerbycategory-wrapper">
                    <div class="image">
                        <a href="#"><img class="lazyload" data-sizes="auto" src="{{cdn 'img/loading.svg'}}" data-src="/product_images/uploaded_images/banner-marketing-pe-2.jpg" alt=""></a>
                    </div>
                    <div class="content">
                        <h6 class="title"><a href="#">Exhaust</a></h6>
                        <p>Dinterdum pretium, Mauris, Condimentus</p>
                    </div>
                </div>
            </div>
            <div class="item">
                <div class="bannerbycategory-wrapper">
                    <div class="image">
                        <a href="#"><img class="lazyload" data-sizes="auto" src="{{cdn 'img/loading.svg'}}" data-src="/product_images/uploaded_images/banner-marketing-pe-3.jpg" alt=""></a>
                    </div>
                    <div class="content">
                        <h6 class="title"><a href="#">Brakes & Rotors</a></h6>
                        <p>Dinterdum pretium, Mauris, Condimentus</p>
                    </div>
                </div>
            </div>
            <div class="item">
                <div class="bannerbycategory-wrapper">
                    <div class="image">
                        <a href="#"><img class="lazyload" data-sizes="auto" src="{{cdn 'img/loading.svg'}}" data-src="/product_images/uploaded_images/banner-marketing-pe-4.jpg" alt=""></a>
                    </div>
                    <div class="content">
                        <h6 class="title"><a href="#">Air Intake</a></h6>
                        <p>Dinterdum pretium, Mauris, Condimentus</p>
                    </div>
                </div>
            </div>
            <div class="item">
                <div class="bannerbycategory-wrapper">
                    <div class="image">
                        <a href="#"><img class="lazyload" data-sizes="auto" src="{{cdn 'img/loading.svg'}}" data-src="/product_images/uploaded_images/banner-marketing-pe-4.jpg" alt=""></a>
                    </div>
                    <div class="content">
                        <h6 class="title"><a href="#">Air Intake</a></h6>
                        <p>Dinterdum pretium, Mauris, Condimentus</p>
                    </div>
                </div>
            </div>
        </div>
    </div>
{{/if}}

{{#if banner '==' 3}}
    <div class="themevale_bannerbycategory themevale_bannerbycategory_4">
        <div class="themevale_bannerbycategory-carousel" data-slick='{
            "arrows": false,
            "dots": true,
            "infinite": false,
            "slidesToShow": 4,
            "slidesToScroll": 4
        }'>
            <div class="item">
                <div class="bannerbycategory-wrapper">
                    <div class="image">
                        <a href="#"><img class="lazyload" data-sizes="auto" src="{{cdn 'img/loading.svg'}}" data-src="/product_images/uploaded_images/banner-marketing-li-1.jpg" alt=""></a>
                    </div>
                    <div class="content">
                        <h6 class="title"><a href="#">Headlights</a></h6>
                        <p>Dinterdum pretium, Mauris, Condimentus</p>
                    </div>
                </div>
            </div>
            <div class="item">
                <div class="bannerbycategory-wrapper">
                    <div class="image">
                        <a href="#"><img class="lazyload" data-sizes="auto" src="{{cdn 'img/loading.svg'}}" data-src="/product_images/uploaded_images/banner-marketing-li-2.jpg" alt=""></a>
                    </div>
                    <div class="content">
                        <h6 class="title"><a href="#">Tail Lights</a></h6>
                        <p>Dinterdum pretium, Mauris, Condimentus</p>
                    </div>
                </div>
            </div>
            <div class="item">
                <div class="bannerbycategory-wrapper">
                    <div class="image">
                        <a href="#"><img class="lazyload" data-sizes="auto" src="{{cdn 'img/loading.svg'}}" data-src="/product_images/uploaded_images/banner-marketing-li-3.jpg" alt=""></a>
                    </div>
                    <div class="content">
                        <h6 class="title"><a href="#">Off-Road Lights</a></h6>
                        <p>Dinterdum pretium, Mauris, Condimentus</p>
                    </div>
                </div>
            </div>
            <div class="item">
                <div class="bannerbycategory-wrapper">
                    <div class="image">
                        <a href="#"><img class="lazyload" data-sizes="auto" src="{{cdn 'img/loading.svg'}}" data-src="/product_images/uploaded_images/banner-marketing-li-4.jpg" alt=""></a>
                    </div>
                    <div class="content">
                        <h6 class="title"><a href="#">Fog Lights</a></h6>
                        <p>Dinterdum pretium, Mauris, Condimentus</p>
                    </div>
                </div>
            </div>
            <div class="item">
                <div class="bannerbycategory-wrapper">
                    <div class="image">
                        <a href="#"><img class="lazyload" data-sizes="auto" src="{{cdn 'img/loading.svg'}}" data-src="/product_images/uploaded_images/banner-marketing-li-1.jpg" alt=""></a>
                    </div>
                    <div class="content">
                        <h6 class="title"><a href="#">Headlights</a></h6>
                        <p>Dinterdum pretium, Mauris, Condimentus</p>
                    </div>
                </div>
            </div>
        </div>
    </div>
{{/if}}

{{#if banner '==' 4}}
    <div class="themevale_bannerbycategory themevale_bannerbycategory_5">
        <div class="themevale_bannerbycategory-carousel" data-slick='{
            "arrows": false,
            "dots": true,
            "infinite": false,
            "slidesToShow": 4,
            "slidesToScroll": 4
        }'>
            <div class="item">
                <div class="bannerbycategory-wrapper">
                    <div class="image">
                        <a href="#"><img class="lazyload" data-sizes="auto" src="{{cdn 'img/loading.svg'}}" data-src="/product_images/uploaded_images/banner-marketing-wt-1.jpg" alt=""></a>
                    </div>
                    <div class="content">
                        <h6 class="title"><a href="#">Custom Wheels</a></h6>
                        <p>Dinterdum pretium, Mauris, Condimentus</p>
                    </div>
                </div>
            </div>
            <div class="item">
                <div class="bannerbycategory-wrapper">
                    <div class="image">
                        <a href="#"><img class="lazyload" data-sizes="auto" src="{{cdn 'img/loading.svg'}}" data-src="/product_images/uploaded_images/banner-marketing-wt-2.jpg" alt=""></a>
                    </div>
                    <div class="content">
                        <h6 class="title"><a href="#">Tires</a></h6>
                        <p>Dinterdum pretium, Mauris, Condimentus</p>
                    </div>
                </div>
            </div>
            <div class="item">
                <div class="bannerbycategory-wrapper">
                    <div class="image">
                        <a href="#"><img class="lazyload" data-sizes="auto" src="{{cdn 'img/loading.svg'}}" data-src="/product_images/uploaded_images/banner-marketing-wt-3.jpg" alt=""></a>
                    </div>
                    <div class="content">
                        <h6 class="title"><a href="#">Factory Wheels</a></h6>
                        <p>Dinterdum pretium, Mauris, Condimentus</p>
                    </div>
                </div>
            </div>
            <div class="item">
                <div class="bannerbycategory-wrapper">
                    <div class="image">
                        <a href="#"><img class="lazyload" data-sizes="auto" src="{{cdn 'img/loading.svg'}}" data-src="/product_images/uploaded_images/banner-marketing-wt-4.jpg" alt=""></a>
                    </div>
                    <div class="content">
                        <h6 class="title"><a href="#">Caliper Covers</a></h6>
                        <p>Dinterdum pretium, Mauris, Condimentus</p>
                    </div>
                </div>
            </div>
            <div class="item">
                <div class="bannerbycategory-wrapper">
                    <div class="image">
                        <a href="#"><img class="lazyload" data-sizes="auto" src="{{cdn 'img/loading.svg'}}" data-src="/product_images/uploaded_images/banner-marketing-wt-1.jpg" alt=""></a>
                    </div>
                    <div class="content">
                        <h6 class="title"><a href="#">Custom Wheels</a></h6>
                        <p>Dinterdum pretium, Mauris, Condimentus</p>
                    </div>
                </div>
            </div>
        </div>
    </div>
{{/if}}

{{#if banner '==' 5}}
    <div class="themevale_bannerbycategory themevale_bannerbycategory_6">
        <div class="themevale_bannerbycategory-carousel" data-slick='{
            "arrows": false,
            "dots": true,
            "infinite": false,
            "slidesToShow": 4,
            "slidesToScroll": 4
        }'>
            <div class="item">
                <div class="bannerbycategory-wrapper">
                    <div class="image">
                        <a href="#"><img class="lazyload" data-sizes="auto" src="{{cdn 'img/loading.svg'}}" data-src="/product_images/uploaded_images/banner-marketing-au-1.jpg" alt=""></a>
                    </div>
                    <div class="content">
                        <h6 class="title"><a href="#">Speakers</a></h6>
                        <p>Dinterdum pretium, Mauris, Condimentus</p>
                    </div>
                </div>
            </div>
            <div class="item">
                <div class="bannerbycategory-wrapper">
                    <div class="image">
                        <a href="#"><img class="lazyload" data-sizes="auto" src="{{cdn 'img/loading.svg'}}" data-src="/product_images/uploaded_images/banner-marketing-au-2.jpg" alt=""></a>
                    </div>
                    <div class="content">
                        <h6 class="title"><a href="#">Installation Kits</a></h6>
                        <p>Dinterdum pretium, Mauris, Condimentus</p>
                    </div>
                </div>
            </div>
            <div class="item">
                <div class="bannerbycategory-wrapper">
                    <div class="image">
                        <a href="#"><img class="lazyload" data-sizes="auto" src="{{cdn 'img/loading.svg'}}" data-src="/product_images/uploaded_images/banner-marketing-au-3.jpg" alt=""></a>
                    </div>
                    <div class="content">
                        <h6 class="title"><a href="#">Dash Cams</a></h6>
                        <p>Dinterdum pretium, Mauris, Condimentus</p>
                    </div>
                </div>
            </div>
            <div class="item">
                <div class="bannerbycategory-wrapper">
                    <div class="image">
                        <a href="#"><img class="lazyload" data-sizes="auto" src="{{cdn 'img/loading.svg'}}" data-src="/product_images/uploaded_images/banner-marketing-au-4.jpg" alt=""></a>
                    </div>
                    <div class="content">
                        <h6 class="title"><a href="#">GPS Tracker</a></h6>
                        <p>Dinterdum pretium, Mauris, Condimentus</p>
                    </div>
                </div>
            </div>
            <div class="item">
                <div class="bannerbycategory-wrapper">
                    <div class="image">
                        <a href="#"><img class="lazyload" data-sizes="auto" src="{{cdn 'img/loading.svg'}}" data-src="/product_images/uploaded_images/banner-marketing-au-2.jpg" alt=""></a>
                    </div>
                    <div class="content">
                        <h6 class="title"><a href="#">Installation Kits</a></h6>
                        <p>Dinterdum pretium, Mauris, Condimentus</p>
                    </div>
                </div>
            </div>
        </div>
    </div>
{{/if}}

{{#if banner '==' 6}}
    <div class="themevale_bannerbycategory themevale_bannerbycategory_7">
        <div class="themevale_bannerbycategory-carousel" data-slick='{
            "arrows": false,
            "dots": true,
            "infinite": false,
            "slidesToShow": 4,
            "slidesToScroll": 4
        }'>
            <div class="item">
                <div class="bannerbycategory-wrapper">
                    <div class="image">
                        <a href="#"><img class="lazyload" data-sizes="auto" src="{{cdn 'img/loading.svg'}}" data-src="/product_images/uploaded_images/banner-marketing-re-1.jpg" alt=""></a>
                    </div>
                    <div class="content">
                        <h6 class="title"><a href="#">Suspension Parts</a></h6>
                        <p>Dinterdum pretium, Mauris, Condimentus</p>
                    </div>
                </div>
            </div>
            <div class="item">
                <div class="bannerbycategory-wrapper">
                    <div class="image">
                        <a href="#"><img class="lazyload" data-sizes="auto" src="{{cdn 'img/loading.svg'}}" data-src="/product_images/uploaded_images/banner-marketing-re-2.jpg" alt=""></a>
                    </div>
                    <div class="content">
                        <h6 class="title"><a href="#">Brake Parts</a></h6>
                        <p>Dinterdum pretium, Mauris, Condimentus</p>
                    </div>
                </div>
            </div>
            <div class="item">
                <div class="bannerbycategory-wrapper">
                    <div class="image">
                        <a href="#"><img class="lazyload" data-sizes="auto" src="{{cdn 'img/loading.svg'}}" data-src="/product_images/uploaded_images/banner-marketing-re-3.jpg" alt=""></a>
                    </div>
                    <div class="content">
                        <h6 class="title"><a href="#">Exhaust Parts</a></h6>
                        <p>Dinterdum pretium, Mauris, Condimentus</p>
                    </div>
                </div>
            </div>
            <div class="item">
                <div class="bannerbycategory-wrapper">
                    <div class="image">
                        <a href="#"><img class="lazyload" data-sizes="auto" src="{{cdn 'img/loading.svg'}}" data-src="/product_images/uploaded_images/banner-marketing-re-4.jpg" alt=""></a>
                    </div>
                    <div class="content">
                        <h6 class="title"><a href="#">Air Intakes</a></h6>
                        <p>Dinterdum pretium, Mauris, Condimentus</p>
                    </div>
                </div>
            </div>
            <div class="item">
                <div class="bannerbycategory-wrapper">
                    <div class="image">
                        <a href="#"><img class="lazyload" data-sizes="auto" src="{{cdn 'img/loading.svg'}}" data-src="/product_images/uploaded_images/banner-marketing-re-3.jpg" alt=""></a>
                    </div>
                    <div class="content">
                        <h6 class="title"><a href="#">Exhaust Parts</a></h6>
                        <p>Dinterdum pretium, Mauris, Condimentus</p>
                    </div>
                </div>
            </div>
        </div>
    </div>
{{/if}}

{{#if banner '==' 7}}
    <div class="themevale_bannerbycategory themevale_bannerbycategory_8">
        <div class="themevale_bannerbycategory-carousel" data-slick='{
            "arrows": false,
            "dots": true,
            "autoplay": false,
            "infinite": false,
            "slidesToShow": 4,
            "slidesToScroll": 4,
            "adaptiveHeight": true
        }'>
            <div class="item">
                <div class="bannerbycategory-wrapper">
                    <div class="image">
                        <a href="#"><img class="lazyload" data-sizes="auto" src="{{cdn 'img/loading.svg'}}" data-src="/product_images/uploaded_images/banner-marketing-bo-1.jpg" alt=""></a>
                    </div>
                    <div class="content">
                        <h6 class="title"><a href="#">Mirrors</a></h6>
                        <p>Dinterdum pretium, Mauris, Condimentus</p>
                    </div>
                </div>
            </div>
            <div class="item">
                <div class="bannerbycategory-wrapper">
                    <div class="image">
                        <a href="#"><img class="lazyload" data-sizes="auto" src="{{cdn 'img/loading.svg'}}" data-src="/product_images/uploaded_images/banner-marketing-bo-2.jpg" alt=""></a>
                    </div>
                    <div class="content">
                        <h6 class="title"><a href="#">Hoods</a></h6>
                        <p>Dinterdum pretium, Mauris, Condimentus</p>
                    </div>
                </div>
            </div>
            <div class="item">
                <div class="bannerbycategory-wrapper">
                    <div class="image">
                        <a href="#"><img class="lazyload" data-sizes="auto" src="{{cdn 'img/loading.svg'}}" data-src="/product_images/uploaded_images/banner-marketing-bo-3.jpg" alt=""></a>
                    </div>
                    <div class="content">
                        <h6 class="title"><a href="#">Bumpers</a></h6>
                        <p>Dinterdum pretium, Mauris, Condimentus</p>
                    </div>
                </div>
            </div>
            <div class="item">
                <div class="bannerbycategory-wrapper">
                    <div class="image">
                        <a href="#"><img class="lazyload" data-sizes="auto" src="{{cdn 'img/loading.svg'}}" data-src="/product_images/uploaded_images/banner-marketing-bo-4.jpg" alt=""></a>
                    </div>
                    <div class="content">
                        <h6 class="title"><a href="#">Interior Parts</a></h6>
                        <p>Dinterdum pretium, Mauris, Condimentus</p>
                    </div>
                </div>
            </div>
            <div class="item">
                <div class="bannerbycategory-wrapper">
                    <div class="image">
                        <a href="#"><img class="lazyload" data-sizes="auto" src="{{cdn 'img/loading.svg'}}" data-src="/product_images/uploaded_images/banner-marketing-bo-2.jpg" alt=""></a>
                    </div>
                    <div class="content">
                        <h6 class="title"><a href="#">Hoods</a></h6>
                        <p>Dinterdum pretium, Mauris, Condimentus</p>
                    </div>
                </div>
            </div>
        </div>
    </div>
{{/if}}
