<div class="themevale_featuredBrands themevale_section themevale_bgGray">
    <div class="container"> 
        <h4 class="page-heading">{{lang 'brand.title_category'}}</h4>
        <div class="brandsImage-slider layout-1" data-slick='{
            "dots":false,
            "arrows": true,
            "autoplay": true,
            "slidesToShow": true, 
            "slidesToScroll": true, 
            "adaptiveHeight": true,
            "mobileFirst": true,
            "nextArrow": "<svg class=&apos;slick-next slick-arrow&apos;><use xlink:href=&apos;#slick-arrow-next&apos;></use></svg>", 
            "prevArrow": "<svg class=&apos;slick-prev slick-arrow&apos;><use xlink:href=&apos;#slick-arrow-prev&apos;></use></svg>",
            "responsive": [
                {
                    "breakpoint": 1024,
                    "settings": {
                        "dots":true,
                        "slidesToShow": 6,
                        "slidesToScroll": 1
                    }
                },
                {
                    "breakpoint": 600,
                    "settings": {
                        "slidesToShow": 4,
                        "slidesToScroll": 4
                    }
                },
                {
                    "breakpoint": 480,
                    "settings": {
                        "slidesToShow": 2,
                        "slidesToScroll": 2
                    }
                }
            ]}'>
             <div class="brand-item">
                <a href="/incra/" class="featured-brand"><img class="lazyload" data-sizes="auto" src="{{cdn 'img/loading.svg'}}" data-src="https://store-nv2zhlgt3y.mybigcommerce.com/content/brands/INCRA.png" alt="brands-1"/></a> 
            </div>
            <div class="brand-item">
                <a href="/woodpeckers/" class="featured-brand"><img class="lazyload" data-sizes="auto" src="{{cdn 'img/loading.svg'}}" data-src="https://store-nv2zhlgt3y.mybigcommerce.com/content/brands/Woodpeckers.png" alt="brands-2"/></a> 
            </div>
            <div class="brand-item">
                <a href="/auk-tools/" class="featured-brand"><img class="lazyload" data-sizes="auto" src="{{cdn 'img/loading.svg'}}" data-src="https://cdn11.bigcommerce.com/s-nv2zhlgt3y/images/stencil/original/image-manager/auktoolnew.png" alt="brands-3"/></a> 
            </div>
            <div class="brand-item">
                <a href="/fastcap/" class="featured-brand"><img class="lazyload" data-sizes="auto" src="{{cdn 'img/loading.svg'}}" data-src="https://store-nv2zhlgt3y.mybigcommerce.com/content/brands/FastCap.png" alt="brands-4"/></a> 
            </div>
            <div class="brand-item">
                <a href="/jessem/" class="featured-brand"><img class="lazyload" data-sizes="auto" src="{{cdn 'img/loading.svg'}}" data-src="https://store-nv2zhlgt3y.mybigcommerce.com/content/brands/JessEm.png" alt="brands-5"/></a> 
            </div>
            <div class="brand-item">
                <a href="/igaging/" class="featured-brand"><img class="lazyload" data-sizes="auto" src="{{cdn 'img/loading.svg'}}" data-src="https://store-nv2zhlgt3y.mybigcommerce.com/content/brands/iGaging.png" alt="brands-6"/></a> 
            </div>
        </div>
    </div>
</div>
