<div class="themevale_section themevale_review">
    <div class="container"> 
        <h4 class="page-heading">{{lang 'products.reviews.title'}}</h4>
        <div class="customer-review-carousel" data-slick='{
            "dots":false,
            "arrows": true,
            "autoplay": false,
            "slidesToShow": 1, 
            "slidesToScroll": 1, 
            "adaptiveHeight": true,
            "mobileFirst": true,
            "nextArrow": "<svg class=&apos;slick-next slick-arrow&apos;><use xlink:href=&apos;#slick-arrow-next&apos;></use></svg>", 
            "prevArrow": "<svg class=&apos;slick-prev slick-arrow&apos;><use xlink:href=&apos;#slick-arrow-prev&apos;></use></svg>",
            "responsive": [
                {
                    "breakpoint": 1030,
                    "settings": {
                        "dots":true,
                        "arrows": false,
                        "slidesToShow": 2,
                        "slidesToScroll": 2
                    }
                },
                {
                    "breakpoint": 768,
                    "settings": {
                        "slidesToShow": 2,
                        "slidesToScroll": 2
                    }
                }
            ]}'>
            <div class="review-item">
                <div class="customer-review">
                    <div class="image">
                        <img src="https://cdn11.bigcommerce.com/s-nv2zhlgt3y/images/stencil/400x400/products/604/426/INC_RTCOMBO3_6f28cfe9-f518-48af-9677-3a8527a46109__03860.1611593651.jpg" alt="">
                    </div>
                    <div class="content">
                        <h4 class="card-title">
                            <a href="/incra-router-table-combo-1-metric/">Suspendisse tempus Tempus es lortis ados delos lorem tempus cosmo sapiendos</a>
                        </h4>
                        <article class="productReview" itemscope="" itemtype="http://schema.org/Review">
                            <header class="is-sticky">
                                <h5 itemprop="name" class="productReview-title">Aliquam velai</h5>
                                <span class="productReview-rating rating--small" itemprop="reviewRating" itemscope="" itemtype="http://schema.org/Rating">
                                    {{> components/products/ratings rating=5}}
                                </span>
                                <p class="productReview-author">
                                    Posted by Sed convallis on 26th Sep 2020
                                </p>
                            </header>
                            <p itemprop="reviewBody" class="productReview-body">Duis an turpis de nor multricies honcus. Morbi aliquet sem non orci lacinia posuere nam eget efficitur nibh. Aenean nec ornare ipsum...</p>
                        </article>
                    </div>
                </div>
            </div>
            <div class="review-item">
                <div class="customer-review">
                    <div class="image">
                        <img src="https://cdn11.bigcommerce.com/s-nv2zhlgt3y/images/stencil/400x400/products/759/961/ExcelIIFence_StandGold__63970.1611593675.jpg" alt="">
                    </div>
                    <div class="content">
                        <h4 class="card-title">
                            <a href="/jessem-mast-r-lift-excel-ii-standard-router-table-package/">Cras ultricies nulla Magnes de darturien cosmopolis an deros laciniados</a>
                        </h4>
                        <article class="productReview" itemscope="" itemtype="http://schema.org/Review">
                            <header class="is-sticky">
                                <h5 itemprop="name" class="productReview-title">Semper augue hopet ami</h5>
                                <span class="productReview-rating rating--small" itemprop="reviewRating" itemscope="" itemtype="http://schema.org/Rating">
                                    {{> components/products/ratings rating=5}}
                                </span>
                                <p class="productReview-author">
                                    Posted by Sed convallison 26th Sep 2020
                                </p>
                            </header>
                            <p itemprop="reviewBody" class="productReview-body">Phasellus volutpat magna id mauris sodales et ornare urna molestie. Mauris non sem tincidunt, hendrerit nisi quis honcus felis. Suspendisse tempus mi durna in mattis de nilos egestas quis. Proin nisi justo consectetur sed lacus.</p>
                        </article>
                    </div>
                </div>
            </div>
            <div class="review-item">
                <div class="customer-review">
                    <div class="image">
                        <img src="https://cdn11.bigcommerce.com/s-nv2zhlgt3y/images/stencil/400x400/products/604/426/INC_RTCOMBO3_6f28cfe9-f518-48af-9677-3a8527a46109__03860.1611593651.jpg" alt="">
                    </div>
                    <div class="content">
                        <h4 class="card-title">
                            <a href="/incra-router-table-combo-1-metric/">Suspendisse tempus Tempus es lortis ados delos lorem tempus cosmo sapiendos</a>
                        </h4>
                        <article class="productReview" itemscope="" itemtype="http://schema.org/Review">
                            <header class="is-sticky">
                                <h5 itemprop="name" class="productReview-title">Aliquam velai</h5>
                                <span class="productReview-rating rating--small" itemprop="reviewRating" itemscope="" itemtype="http://schema.org/Rating">
                                    {{> components/products/ratings rating=5}}
                                </span>
                                <p class="productReview-author">
                                    Posted by Sed convallis on 26th Sep 2020
                                </p>
                            </header>
                            <p itemprop="reviewBody" class="productReview-body">Duis an turpis de nor multricies honcus. Morbi aliquet sem non orci lacinia posuere nam eget efficitur nibh. Aenean nec ornare ipsum...</p>
                        </article>
                    </div>
                </div>
            </div>
            <div class="review-item">
                <div class="customer-review">
                    <div class="image">
                        <img src="https://cdn11.bigcommerce.com/s-nv2zhlgt3y/images/stencil/400x400/products/759/961/ExcelIIFence_StandGold__63970.1611593675.jpg?c=1" alt="">
                    </div>
                   <div class="content">
                        <h4 class="card-title">
                            <a href="/jessem-mast-r-lift-excel-ii-standard-router-table-package/">Suspendisse tempus Tempus es lortis ados delos lorem tempus cosmo sapiendos</a>
                        </h4>
                        <article class="productReview" itemscope="" itemtype="http://schema.org/Review">
                            <header class="is-sticky">
                                <h5 itemprop="name" class="productReview-title">Aliquam velai</h5>
                                <span class="productReview-rating rating--small" itemprop="reviewRating" itemscope="" itemtype="http://schema.org/Rating">
                                    {{> components/products/ratings rating=5}}
                                </span>
                                <p class="productReview-author">
                                    Posted by Sed convallis on 26th Sep 2020
                                </p>
                            </header>
                            <p itemprop="reviewBody" class="productReview-body">Duis an turpis de nor multricies honcus. Morbi aliquet sem non orci lacinia posuere nam eget efficitur nibh. Aenean nec ornare ipsum...</p>
                        </article>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
