{{inject 'noCompareMessage' (lang 'compare.no_compare')}}

<div data-list-name="Brand: {{brand.name}}">
    {{#if theme_settings.product_list_display_mode '===' 'grid'}}
        {{> components/products/grid products=brand.products show_compare=brand.show_compare theme_settings=theme_settings event="list"}}
    {{else}}
        {{> components/products/list products=brand.products show_compare=brand.show_compare theme_settings=theme_settings event="list"}}
    {{/if}}
</div>

<div class="compare-button-bottom">
    {{> components/common/paginator pagination.brand}}
    <div class="navUser-compare">
        <a class="navUser-action navUser-item--compare"
           href="{{urls.compare}}"
           data-compare-nav
           aria-label="{{lang 'common.compare'}}"
        >
            <i class="icon">
                <svg><use xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="#icon-cavio_compare"></use></svg> 
            </i>
            <span class="desktop-label">{{lang 'common.compare'}} </span>
            <span class="mobile-label">Compare </span>
            <span class="countPill countPill--positive countPill--alt"></span>
        </a>
    </div>
</div>
