<div class="shp-in-prgs">
	<div class="shp-rght">
		<span class="frm-price ship-price"><strong class="currency-icon">$</strong><strong class="currency-value">0</strong></span>
		<div class="myProgress">
			<div class="myBar">
				<div class="myProgresslabel">
					<span class="progress-bar-width">
			            <svg>
			                <use href="#icon-check-mark"></use>
			           	</svg>
		           	</span>
				</div>
			</div>
		</div>
		<span class="to-price ship-price" data-shipping-price="{{theme_settings.free-shipping-price}}"><strong class="currency-icon">$</strong><strong class="currency-value">{{theme_settings.free-shipping-price}}</strong></span>
	</div>
</div>
<div class="cart-success-ship">
	<p class="shipping-progress-text away-message">{{{theme_settings.free-shipping-away-price-messeage}}}</p>
	<p class="shipping-progress-text freeshipping-message">{{{theme_settings.free-shipping-eligible-price-messeage}}}</p>
</div>
