<div class="cart-product-nav">
    <div class="slider-info">
      <span class="current-slide"></span> / <span class="total-slides"></span>
    </div>
    <div class="slider-arrows">
        <button type="button" class="slick-prev"><svg><use href="#icon-cavio_angle-left"></use></svg></button>
        <button type="button" class="slick-next"><svg><use href="#icon-cavio_angle-right"></use></svg></button>
    </div> 
</div>
<ul class="productGrid productGrid--maxCol{{ columns }}" data-product-type="featured" data-list-name="Featured Products">
    {{#each products}}
        <li class="product">
                {{>components/products/card settings=../settings theme_settings=../theme_settings show_rating=../settings.show_product_rating customer=../customer event="list" position=(add @index 1)}}
        </li>
    {{/each}}
</ul>
