{{#each categories}}
    {{#if this.name '==' ../theme_settings.category-name-of-category-filter}}
        <span class="filter-first-category-id is-srOnly">{{id}}</span>
    {{/if}}
{{/each}}
<div class="vch-view">
    <div class="title" id="reveal-btn">
        <span>{{theme_settings.button-text}}</span>
        <i class="down-icon-category-filter"><svg><use href="#icon-cavio_expand-down"></use></svg></i>
    </div>
</div>
<div class="vch-main hidden-section">
    <div class="vch-filter">
        <div class="form-wrapper-vch">
            <div class="form-field">
                <select id="vch-level-1" class="form-select">
                    <option selected="" disabled="" data-default-selection="{{theme_settings.drop-label-1}}" >{{theme_settings.drop-label-1}}</option>
                </select>
                <i class="down-icon-select-filter"><svg><use href="#icon-cavio_expand-down"></use></svg></i>
            </div>
            <div class="form-field">
                <select id="vch-level-2" class="form-select">
                    <option selected="" disabled="" data-default-selection="{{theme_settings.drop-label-2}}" >{{theme_settings.drop-label-2}}</option>
                </select>
                <i class="down-icon-select-filter"><svg><use href="#icon-cavio_expand-down"></use></svg></i>                
            </div>
            <div class="form-field">
                <select id="vch-level-3" class="form-select">
                    <option selected="" disabled="" data-default-selection="{{theme_settings.drop-label-3}}" >{{theme_settings.drop-label-3}}</option>
                </select>
                <i class="down-icon-select-filter"><svg><use href="#icon-cavio_expand-down"></use></svg></i>            
            </div>
        </div>
        <div class="group-button">
            <a class="button button--primary srch-btn" id="vch-select-search" title="Search"><span>{{lang 'category_filter.category_filter_button'}}</span></a>
        </div>
        <div class="buttons " id="reset-filters">
            <span class="vch-reset">
                <svg version="1.1" xmlns="http://www.w3.org/2000/svg" width="32" height="32" viewBox="0 0 32 32">
                    <path d="M0 2.6l13.4 13.4-13.4 13.3 2.6 2.6 13.4-13.4 13.4 13.4 2.6-2.6-13.4-13.4 13.4-13.4-2.6-2.5-13.4 13.4-13.3-13.4-2.7 2.6z"></path>
                </svg>
            </span>
            <span class="vch-change">{{lang 'category_filter.reset_category_filter'}}</span>
        </div>        
    </div>
</div>
