<div class="cart-checkout-usps">
	<div class="usp-listing">
		<div class="usp-logo">
            <svg class="icon-lock">
                <use href="#icon-cavio_lock"></use>
            </svg>
		</div>
        <div class="usp-content">
            <h4>
                Shop with confidence
            </h4>
            <div class="usp-more-details">
                <span>Know your purchase is safe and secure</span>
            </div>
        </div>
	</div>
	<div class="usp-listing">
		<div class="usp-logo">	
            <svg class="icon-box">
                <use href="#icon-cavio_box"></use>
            </svg>            
		</div>
        <div class="usp-content">
            <h4>
                Shipping & Returns
            </h4>
            <div class="usp-more-details">
                <span>Fast shipping and easy returns</span>
            </div>
        </div>
	</div>
</div>
