<article class="card" data-product-id="{{id}}" {{#if settings.data_tag_enabled}} data-event-type="{{event}}" data-entity-id="{{id}}" data-position="{{position}}" data-name="{{name}}" data-product-category="{{#each category}}{{#if @last}}{{this}}{{else}}{{this}}, {{/if}}{{/each}}" data-product-brand="{{brand.name}}" data-product-price="{{#if price.with_tax}}{{price.with_tax.value}}{{else}}{{price.without_tax.value}}{{/if}}" {{/if}}>
    <div class="card-figure">
        <div class="themevale_badges">
            {{#or price.non_sale_price_with_tax price.non_sale_price_without_tax}}
                <div class="sale-badge themevale_badge">
                    <span class="text">Sale</span>
                </div>
            {{/or}}
            {{#each custom_fields}}
                {{#if name '===' 'customlabel'}}
                <div class="custom-badge themevale_badge">
                    <span class="text">{{{value}}}</span>
                </div>
                {{/if}}
            {{/each}}
            {{#if out_of_stock_message}}
                <div class="soldOut-badge themevale_badge">
                    <span class="text">sold out</span>
                </div>
            {{/if}}
        </div>
        <a href="{{url}}" class="product_img_link" {{#if settings.data_tag_enabled}} data-event-type="product-click" {{/if}}>
            <div class="card-img-container">
                <img class="card-image lazyload" data-sizes="auto" src="{{cdn 'img/loading.svg'}}" data-src="{{getImage image 'productgallery_size' (cdn theme_settings.default_image_product)}}" alt="{{image.alt}}" title="{{image.alt}}">
                {{#if images.length '>=' 2}}
                    {{#each images}}
                        {{#if @index '==' 1}}
                            <span class="product-additional" data-product-id="">
                                <img class="replace-2x img-responsive lazyload" src="{{cdn 'img/loading.svg'}}" data-src="{{getImage this 'productgallery_size' (cdn theme_settings.default_image_product)}}" alt="{{image.alt}}" title="{{image.alt}}">
                            </span>
                        {{/if}}
                    {{/each}}
                {{/if}}
            </div>
        </a>
        <div class="card-buttonGroup">
            {{#unless hide_product_quick_view}}
                {{#if theme_settings.show_product_quick_view}}
                    {{#unless demo}}
                        <a href="javascript:void(0)" class="card-button-quickview quickview" data-product-id="{{id}}" {{#if settings.data_tag_enabled}} data-event-type="product-click" {{/if}} >
                            <svg><use xlink:href="#icon-eye"/></svg>
                            <span class="text">quick view</span>
                        </a>
                    {{/unless}}
                {{/if}}
            {{/unless}}
            {{#if theme_settings.show_product_wishlist}}
            {{#if show_wishlist}}
                <a href="/wishlist.php?action=add&product_id={{id}}" class="card-button-wishlist" title="{{lang 'account.wishlists.add_item'}}">
                    <svg><use xlink:href="#icon-heart"/></svg>
                </a>
            {{/if}}
            {{/if}}
        </div>
        <div class="card-figcaption">
            {{#or customer (if theme_settings.restrict_to_login '!==' true)}}
                {{#if show_cart_action}}
                    {{#if has_options}}
                        <a href="{{url}}" class="button card-figcaption-button" data-product-id="{{id}}" {{#if settings.data_tag_enabled}} data-event-type="product-click" {{/if}} >{{lang 'products.choose_options'}}</a>
                    {{/if}}
                    {{#if pre_order}}
                       {{#if price.price_range}}
                            <a href="{{url}}" class="button card-figcaption-button test9" data-product-id="{{id}}" {{#if settings.data_tag_enabled}} data-event-type="product-click" {{/if}} >{{lang 'products.choose_options'}} </a>
                        {{else}}
                            {{#gt stock_level 0 }}
                                 <a href="{{add_to_cart_url}}" class="button card-figcaption-button themevale_btnATC test789" data-product-id="{{id}}">{{lang 'products.add_to_cart'}}</a>
                             {{else}}
                               <a href="{{pre_order_add_to_cart_url}}" class="button card-figcaption-button test456">{{lang 'products.pre_order'}}</a>
                             {{/gt}}
                        {{/if}}
                    {{/if}}
                    {{#if add_to_cart_url }}
                        <a href="{{add_to_cart_url}}" class="button card-figcaption-button themevale_btnATC test123" data-product-id="{{id}}" {{#if settings.data_tag_enabled}} {{#if theme_settings.themevale_addtocart '==' false}} data-event-type="product-click" {{/if}} {{/if}} >{{lang 'products.add_to_cart'}}</a>
                    {{/if}}
                    {{#if out_of_stock_message}}
                        <a href="{{url}}" class="button card-figcaption-button" disabled data-product-id="{{id}}" {{#if settings.data_tag_enabled}} {{#if theme_settings.themevale_addtocart '==' false}} data-event-type="product-click" {{/if}} {{/if}} >{{out_of_stock_message}}</a>
                    {{/if}}
                {{/if}}
            {{/or}}
        </div>
    </div>
    <div class="card-body">
         <h4 class="card-title">
            {{#if demo}}
                {{name}}
            {{else}}
                <a href="{{url}}" {{#if settings.data_tag_enabled}} data-event-type="product-click" {{/if}}>{{name}}</a>
            {{/if}}
        </h4>
        {{#if brand.name}}
            <p class="card-brand" data-test-info-type="brandName">{{brand.name}}</p>
        {{/if}}
       
        {{#if show_rating}}
            <p class="card-rating" data-test-info-type="productRating">
                {{> components/products/ratings rating=rating}}
                {{#if num_reviews}}
                    <span class="number-review">({{num_reviews}})</span>
                {{/if}}
            </p>
        {{/if}}
        <div class="card-price-wrapper card-price-sale">
            <div class="card-price" data-test-info-type="price">
                {{#or customer (if theme_settings.restrict_to_login '!==' true)}}
                    {{> components/products/price price=price}}
                {{else}}
                    {{> components/common/login-for-pricing}}
                {{/or}}
            </div>
        </div>
        {{#if summary}}
            <div class="card-desciption">
                <p class="card-text">{{{summary}}}</p>
            </div>
        {{/if}}
    </div>
</article>
