<article class="card">
    <figure class="card-figure">
        <div class="themevale_badges">
            {{#or price.non_sale_price_with_tax price.non_sale_price_without_tax}}
                <div class="sale-badge themevale_badge">
                    <span class="text">Sale</span>
                </div>
            {{/or}}
            {{#if out_of_stock_message}}
                <div class="soldOut-badge themevale_badge">
                    <span class="text">sold out</span>
                </div>
            {{/if}}
        </div>
        {{#if demo}}
            <div class="card-img-container">
                <img class="card-image lazyload" data-sizes="auto" src="{{cdn 'img/loading.svg'}}" data-src="{{getImage image 'productgallery_size' (cdn theme_settings.default_image_product)}}" alt="{{image.alt}}" title="{{image.alt}}">
            </div>
        {{else}}
            <a href="{{url}}" class="product_img_link">
                <div class="card-img-container">
                    <img class="card-image lazyload" data-sizes="auto" src="{{cdn 'img/loading.svg'}}" data-src="{{getImage image 'productgallery_size' (cdn theme_settings.default_image_product)}}" alt="{{image.alt}}" title="{{image.alt}}">
                    {{#if images.length '>=' 2}}
                        {{#each images}}
                            {{#if @index '==' 1}}
                                <span class="product-additional" data-product-id="">
                                    <img class="replace-2x img-responsive" src="{{getImage this 'productgallery_size' (cdn theme_settings.default_image_product)}}" alt="{{image.alt}}" title="{{image.alt}}">
                                </span>
                            {{/if}}
                        {{/each}}
                    {{/if}}
                </div>
            </a>
        {{/if}}
        <div class="card-buttonGroup">
            {{#unless hide_product_quick_view}}
                {{#if theme_settings.show_product_quick_view}}
                    {{#unless demo}}
                        <a href="#" class="card-button-quickview quickview" data-product-id="{{id}}"><svg><use xlink:href="#icon-eye"/></svg></a>
                    {{/unless}}
                {{/if}}
            {{/unless}}
            {{#if show_wishlist}}
                <a href="/wishlist.php?action=add&product_id={{id}}" class="card-button-wishlist" title="{{lang 'account.wishlists.add_item'}}">
                    <svg><use xlink:href="#icon-heart"/></svg>
                </a>
            {{/if}}
        </div>
    </figure>
    <div class="card-body">
        <div class="card-detail">
            
            <h4 class="card-title">
                {{#if demo}}
                    {{name}}
                {{else}}
                    <a href="{{url}}">{{name}}</a>
                {{/if}}
            </h4>
            {{#if brand.name}}
                <p class="card-brand" data-test-info-type="brandName">{{brand.name}}</p>
            {{/if}}
            {{#if show_rating}}
                <p class="card-rating" data-test-info-type="productRating">
                    {{> components/products/ratings rating=rating}}
                </p>
            {{/if}}
            <div class="card-price-wrapper">
                <div class="card-price" data-test-info-type="price">
                    {{#or customer (if theme_settings.restrict_to_login '!==' true)}}
                        {{> components/products/price price=price}}
                    {{else}}
                        {{> components/common/login-for-pricing}}
                    {{/or}}
                </div>
                {{#if show_compare}}
                    <label class="card-compare" for="compare-{{id}}">
                        <input type="checkbox" name="products[]" value="{{id}}" id="compare-{{id}}" data-compare-id="{{id}}">
                        <span>{{lang 'products.compare'}}</span>
                    </label>
                {{/if}}
            </div>
            {{#if summary}}
                <div class="card-desciption">
                    <p class="card-text">{{{summary}}}</p>
                </div>
            {{/if}}
        </div>
        <div class="card-actions">
            <div class="card-figcaption">
                {{#or customer (if theme_settings.restrict_to_login '!==' true)}}
                     {{#if show_cart_action}}
                        {{#if has_options}}
                            <a href="{{url}}" class="button card-figcaption-button" data-product-id="{{id}}">{{lang 'products.choose_options'}}</a>
                        {{/if}}
                        {{#if pre_order}}
                             {{#if price.price_range}}
                                <a href="{{url}}" class="button card-figcaption-button" data-product-id="{{id}}" {{#if settings.data_tag_enabled}} {{#if theme_settings.themevale_addtocart '==' false}} data-event-type="product-click" {{/if}} {{/if}} >{{lang 'products.choose_options'}} </a>
                            {{else}}
                                {{#gt stock_level 0 }}
                                     <a href="{{add_to_cart_url}}" class="button card-figcaption-button themevale_btnATC" data-product-id="{{id}}">{{lang 'products.add_to_cart'}}</a>
                                 {{else}}
                                   <a href="{{pre_order_add_to_cart_url}}" class="button card-figcaption-button">{{lang 'products.pre_order'}}</a>
                                 {{/gt}}
                            {{/if}}
                        {{/if}}
                        {{#if add_to_cart_url }}
                             {{#gt stock_level 0 }}
                                 <a href="{{add_to_cart_url}}" class="button card-figcaption-button themevale_btnATC" data-product-id="{{id}}">{{lang 'products.add_to_cart'}}</a>
                             {{else}}
                               <a href="{{pre_order_add_to_cart_url}}" class="button card-figcaption-button">{{lang 'products.pre_order'}}</a>
                             {{/gt}}
                        {{/if}}
                        {{#if out_of_stock_message }}
                            <a href="{{url}}" class="button card-figcaption-button" disabled data-product-id="{{id}}">{{out_of_stock_message}}</a>
                        {{/if}}
                    {{/if}}
                    
                {{/or}}
            </div>
        </div>
    </div>
</article>
