<h2 class="page-heading">{{lang 'products.featured' }}</h2>

<ul class="productGrid productGrid--maxCol{{ columns }}" id="featured-products" data-product-type="featured" {{#if settings.data_tag_enabled}} data-list-name="Featured Products" {{/if}}
    {{#if products.length '>' 2}}
        data-slick='{
            "arrows": false,
            "dots": true,
            "mobileFirst": true,
            "slidesToShow": 2,
            "slidesToScroll": 1,
            "infinite": true,
            "autoplay": false,
            "lazyLoad":"anticipated",
            "slide": ".featured-product-slide",
            "responsive": [
                {
                    "breakpoint": 1280,
                    "settings": {
                        "slidesToShow": {{#if products.length '>=' 5}} 4 {{else}} {{products.length}} {{/if}},
                        "slidesToScroll": 1,
                        "dots": false
                    }
                },
                {
                    "breakpoint": 1000,
                    "settings": {
                        "slidesToShow": {{#if products.length '>=' 4}} 3 {{else}} {{products.length}} {{/if}},
                        "slidesToScroll": 1,
                        "dots": true
                    }
                },
                {
                    "breakpoint": 600,
                    "settings": {
                        "slidesToShow": {{#if products.length '>=' 3}} 2 {{else}} {{products.length}} {{/if}},
                        "slidesToScroll": 1,
                        "dots": true
                    }
                },
                {
                    "breakpoint": 468,
                    "settings": {
                        "slidesToShow": 2,
                        "slidesToScroll": 1,
                        "dots": true
                    }
                }
            ]
        }'
    {{/if}}
>
    {{#each products}}
        <li class="product featured-product-slide">
            {{>components/products/card settings=../settings theme_settings=../theme_settings customer=../customer event="list" position=(add @index 1)}}
        </li>
    {{/each}}
</ul>
